<div class="container">
  <div class="layer">
    <div class="form-group">
      <label for="layerAlias">Layer Alias</label>
      <textarea class="form-control" class="layerAlias" rows="2" ng-model="layerAlias.title" id="layer-{{layerAlias.id}}">{{layerAlias.title}}</textarea>
    </div>
    <hr>
    <div class="form-group">
      <label for="customizeInfoBox">Customize Info Box</label>
      <table class="table table-striped table-bordered"
             id="customizeInfoBox">
        <tr>
          <th class="text-center">Attr</th>
          <th class="text-center">Mask</th>
          <th class="text-center">Show?</th>
        </tr>
        <tr ng-repeat="attribute in attributes">
          <td>{{attribute.name}}</td>
          <td><input type="text" ng-model="attribute.alias"/></td>
          <td><input type="checkbox" ng-model="attribute.show"/></td>
        </tr>
      </table>
    </div>
    <hr>
    <button ng-click="saveMasking()" class="btn btn-default btn-lg btn-block">Save Settings</button>
  </div>
</div>
