<div class="modal-body">
    <p class="text-center">With Composer, you can publish your own spatial narrative to share with a global audience.</p>

    <div class="col-sm-12">
        <div class="col-sm-6">
            <p>
                <a href="/getstarted" target="_blank" id="start-tour" class="btn-composer">
                    Take a Tour
                </a>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <a href="#" id="start-composing" data-dismiss="modal" data-target="#mapProperties" data-toggle="modal" class="btn-composer">
                    Compose Story
                </a>
            </p>
        </div>
    </div>
</div>
