<div class="modal-body">
    <p class="text-center">With Composer, you can publish your own spatial narrative to share with a global audience.</p>

    <div class="col-sm-12">
        <div class="col-sm-6">
            <a href="#" id="start-tour" ng-click="startTour()" data-dismiss="modal" data-target="#mapProperties" data-toggle="modal">
                <h3>Take a Tour</h3>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="#" id="start-composing" data-dismiss="modal" data-target="#mapProperties" data-toggle="modal">
                <h3>Compose Story</h3>
            </a>
        </div>
        <div class="text-center" ng-show="recentDrafts.length">
            <h5>Recent Drafts</h5>
            <div ng-repeat="draft in recentDrafts" class="recent-drafts">
                <p class="pointer" ng-click="redirect('/story/' + draft.id + '/draft')">{{ draft.title }}</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div align="center">
        <small><a class="pointer" ng-click="redirect('/')">Return to {{ application.name }} Home</a></small>
    </div>
</div>
