.black-stroke {
  stroke-width: 2px;
  stroke: black;
  opacity: .9;
}

.pie-chart-text {
  font-size: 13px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.path-red-fill {
  fill: #FF4136;
}