.loom-legend {
  position: absolute;
  right: 50px;
  left: auto;
  top: 0px;
  z-index: 1000;
  background-color: rgba(100,150,200,0.75) !important;
  color: white;
  width: 90px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  transition: width .35s;
}

.legend-item {
  padding-left: 20px;
  padding-right: 5px;
}

.legend-panel-body {
  background-color: rgba(0,0,0,0.0) !important;
}
.legend-item-header {
  background-color: rgba(140,190,240,0.75) !important;
  border-bottom-color: rgba(100,150,200,0.75);
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
}
