<div>
  <div class="history-scroll-pane">
    <ul class="list-group">
      <li class="list-group-item loom-history-popover" ng-repeat="commit in log" ng-click="historyClicked(commit)"
          ng-mouseenter="showPopover()" ng-mouseleave="hidePopover()">
        <div class="commit-summary progress">
          <div class="progress-bar progress-bar-add" ng-style="commit.summary.added">
            <span class="sr-only"></span>
          </div>
          <div class="progress-bar progress-bar-modify" ng-style="commit.summary.modified">
            <span class="sr-only"></span>
          </div>
          <div class="progress-bar progress-bar-delete" ng-style="commit.summary.removed">
            <span class="sr-only"></span>
          </div>
          <div ng-if="commit.summary == null || commit.summary == undefined" class="progress-bar progress-bar-none">
            <span class="no-summary-text">?</span>
          </div>
        </div>
        <div class="author-name">{{getCommitAuthor(commit)}}</div>
        <div class="commit-time">{{getCommitTime(commit)}}</div>
      </li>
      <li ng-if="historyService.nextPage" class="list-group-item">
        <div class="history-loading">
          <div class="loading">
            <!-- We make this div spin -->
            <div class="spinner">
              <!-- Mask of the quarter of circle -->
              <div class="mask">
                <!-- Inner masked circle -->
                <div class="maskedCircle"></div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
