<div class="modal-body">
  <div class="history-loading loom-loading" spinner-width="4" spinner-radius="48" spinner-hidden="!isLoading"></div>
  <form ng-if="!contentHidden" class="form">
    <div ng-if="active">
      <div class="form-group">
        <label class="control-label">{{'start_date' | translate}}</label>
        <datetimepicker date-object="startDate[0]"></datetimepicker>
      </div>
      <div class="form-group">
        <label class="control-label">{{'end_date' | translate}}</label>
        <datetimepicker date-object="endDate[0]"></datetimepicker>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{'cancel_btn' | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="onDiff()">{{'summarize_btn' | translate}}</button>
    <button type="button" class="btn btn-danger pull-left" ng-click="exportCSV()"><i class="glyphicon glyphicon-download-alt"></i> {{'export_csv' | translate}}</button>
  </div>
</div>
