language: node_js
node_js:
- '0.12'
- '0.10'
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- npm install --quiet -g grunt-cli karma bower
- bower install
- grunt
- grunt karmaconfig
script: grunt test
after_success:
- grunt deploy
