<div class="panel">
    <div class="panel-heading" ng-click="expandLegend()">Legend</div>
    <div id="legend-panel" class="panel collapse legend-panel-body">
        <div class="panel legend-panel-body" ng-repeat="layer in mapService.getFeatureLayers()">
            <div class="panel-heading legend-item-header ellipsis" data-toggle="collapse"
                data-target="{{'#' + layer.get('label') + 'legend'}}">{{layer.get('label')}}</div>
            <div class="panel-collapse legend-item collapse legend-panel-body" id="{{layer.get('label') + 'legend'}}">
                <img src="{{serverService.getServer(layer.get('metadata').serverId).url}}?request=GetLegendGraphic&format=image%2Fpng&width=20&height=20&layer={{layer.getSource().getParams().LAYERS}}&transparent=true&legend_options=fontColor:0xFFFFFF;fontAntiAliasing:true;fontSize:14;fontStyle:bold;">
            </div>
        </div>
    </div>
</div>