<div>
    <div id="legend-btn-border" class="map-btn-border" tooltip-placement="left" tooltip-append-to-body="true"
         tooltip="{{'toggle_legend' | translate}}">
        <div id="legend-btn" ng-click="expandLegend()">
            <i class="glyphicon glyphicon-list-alt"></i>
        </div>
    </div>
    <div id="legend-container" class="panel">
        <!--<div id="legend-panel-heading" class="panel-heading">Legend</div>-->
        <div id="legend-panel" class="panel in legend-panel-body">
            <div class="panel in legend-panel-body" ng-repeat="layer in mapService.getLayers();">
                <div class="panel-heading legend-item-header" data-toggle="collapse"
                    data-target="{{'#' + layer.get('metadata').nameUniqueAndSafe + 'legend'}}">{{layer.get('metadata').title}}
                </div>
                <div class="panel-collapse legend-item in legend-panel-body" id="{{layer.get('metadata').nameUniqueAndSafe + 'legend'}}">
                    <img ng-src="{{getLegendUrl(layer)}}">
                </div>
            </div>
        </div>
    </div>
</div>