<div class="feature-panel">
  {{title}}
  <div id="loading-{{mapid}}" class="map-loading">
    <div class="loading">
      <!-- We make this div spin -->
      <div class="spinner">
        <!-- Mask of the quarter of circle -->
        <div class="mask">
          <!-- Inner masked circle -->
          <div class="maskedCircle"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="preview-map-{{mapid}}" class="preview-map map"></div>
  <input value="{{computeAuthorString()}}" type="text" class="form-control attr-none geom-author"
         ng-disabled="true" placeholder="">
  <div ng-repeat="attribute in panel.attributes" class="">
    <span class="info-box-attribute">{{attribute.attributename}}</span>
            <div class="blame-attribute-value" ng-switch on="attribute.type">
              <div ng-switch-when="xsd:dateTime">
                <datetimepicker ng-disabled="true" class="merge-datetime attr-none"
                                editable="{{attribute.editable}}"
                                seperate-time="false" date-object="attribute" date-key="'newvalue'"></datetimepicker>
              </div>
              <div ng-switch-when="simpleType" class="merge-select">
                <input disabled ng-model="attribute.newvalue" type="text"
                       class="form-control attr-none"/>
              </div>
              <div ng-switch-when="xsd:int">
                <input disabled ng-model="attribute.newvalue" type="text"
                       class="form-control attr-none"/>
              </div>
              <div ng-switch-when="xsd:double">
                <input disabled ng-model="attribute.newvalue" type="text"
                       class="form-control attr-none"/>
              </div>
              <input disabled ng-model="attribute.newvalue" type="text"
                     class="form-control attr-none"/>
            </div>
            <input value="{{computeAuthorString(attribute.attributename)}}" type="text" class="info-box-author form-control attr-none"
                   ng-disabled="true" placeholder="">
  </div>
</div>