<div class="modal-body" align="center">

  <div class="panelContainer">
    <div class="panelRow">
      <div ng-if="leftPanel" class="loom-feature-panel" mapid="0" panel="featureDiffService.left"
           panel-title="leftTitle"></div>
      <div ng-if="leftSeparator" class="loom-panel-separator" icon="glyphicon-chevron-right"
           hover="editable" clickfunction="leftSeparatorClick"
           panel="featureDiffService.left"></div>
      <div ng-if="mergePanel" class="loom-feature-panel merge-panel" mapid="1" panel="featureDiffService.merged"
           panel-title="mergedTitle"></div>
      <div ng-if="rightSeparator" class="loom-panel-separator" icon="glyphicon-chevron-left"
           hover="editable" clickfunction="rightSeparatorClick"
           panel="featureDiffService.right"></div>
      <div ng-if="rightPanel" class="loom-feature-panel" mapid="2" panel="featureDiffService.right"
           panel-title="rightTitle"></div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">{{'cancel_btn' | translate}}</button>
  <button ng-if="editable" type="button" class="btn btn-primary" ng-click="save()">{{'save_btn' | translate}}</button>
</div>
