<div class="modal-body" align="center">

  <div class="panelContainer">
    <div class="panelRow">
      <div ng-if="leftPanel" class="loom-feature-panel" mapid="0" panel="featureDiffService.left"
           panel-title="leftTitle"></div>
      <div ng-if="leftSeparator" class="loom-panel-separator" icon="glyphicon-chevron-right"
           hover="editable" clickfunction="leftSeparatorClick"
           panel="featureDiffService.left"></div>
      <div ng-if="mergePanel" class="loom-feature-panel merge-panel" mapid="1" panel="featureDiffService.merged"
           panel-title="mergedTitle"></div>
      <div ng-if="rightSeparator" class="loom-panel-separator" icon="glyphicon-chevron-left"
           hover="editable" clickfunction="rightSeparatorClick"
           panel="featureDiffService.right"></div>
      <div ng-if="rightPanel" class="loom-feature-panel" mapid="2" panel="featureDiffService.right"
           panel-title="rightTitle"></div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default pull-right" ng-click="cancel()">{{'cancel_btn' | translate}}</button>
  <button ng-if="editable" type="button" class="btn btn-primary pull-right" ng-click="save()">{{'save_btn' | translate}}</button>
  <div class="btn-group-wrap pull-left">
    <div class="btn-group feature-diff-btn-group">
      <button ng-if="featureDiffService.undoable" ng-disabled="!undoEnabled" type="button"
              class="btn btn-default pull-left" ng-click="undoChanges()"
              tooltip-placement="top" tooltip="{{'undo_changes' | translate}}" tooltip-append-to-body="true">
        <i class="glyphicon glyphicon-share-alt undo-button"></i>
      </button>
      <button type="button" class="btn btn-default pull-left authors-button" ng-disabled="authorsDisabled"
              ng-class="{'authors-shown':authorsShown}" ng-click="onClick()" ng-controller="authors-tooltip-controller"
              tooltip-placement="top" tooltip="{{'show_authors' | translate}}" tooltip-append-to-body="true">
        <div ng-show="authorsDisabled" id="authors-loading">
          <div class="loading">
            <!-- We make this div spin -->
            <div class="spinner">
              <!-- Mask of the quarter of circle -->
              <div class="mask">
                <!-- Inner masked circle -->
                <div class="maskedCircle"></div>
              </div>
            </div>
          </div>
        </div>
        <i ng-if="!authorsDisabled" class="glyphicon glyphicon-user"></i>
      </button>
    </div>
  </div>

</div>
