<div class="modal-body">
    <form class="form-horizontal col-md-12">

        <div class="form-group">
            <label for="title">Title</label>

            <div>
                <input ng-model="box.title" ng-required class="form-control" id="title" placeholder="Title">
            </div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>

            <div>
                <textarea ng-model="box.description" class="form-control" id="description"
                          placeholder="Description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="start_time">Start Time</label>

                    <div>
                        <!--input ng-model="box.start_time" class="form-control" id="start_time" placeholder="Start time"-->
                         <datetimepicker date-object="box.start_time" default-date="inserting"></datetimepicker>
                    </div>
                </div>
            </div>
            <div class="col-xs-5 pull-right">
                <div class="form-group">
                    <label for="end_time">End Time</label>

                    <div>
                        <!--input ng-model="box.end_time" class="form-control" id="end_time" placeholder="End time"-->
                         <datetimepicker date-object="box.end_time" default-date="inserting"></datetimepicker>
                    </div>
                </div>

            </div>
        </div>
        <button type="button" style="margin-left:-15px;"
                ng-if="currentServer.lazy && currentServer.layersConfig.length===0 && !currentServer.populatingLayersConfig"
                tooltip="This server is configured to lazily load layers." tooltip-placement="right"
                class="btn btn-default"
                ng-click="serverService.populateLayersConfig(serverService.getServerById(currentServerId), true)">
            <i class="glyphicon glyphicon-save"></i>
            <span>{{'fetch_layers_from_server' | translate}}</span>
        </button>
        <div class="add-layers-loading loom-loading" spinner-hidden="!currentServer.populatingLayersConfig"></div>
        <!--pre>box = {{box | json}}</pre-->
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" translate="close_btn">Close</button>
    <button type="button" class="btn btn-primary" ng-click="addStoryBox(box)" data-dismiss="modal"
            translate="add_btn">Add
    </button>
</div>
