<div id="storyboxpanel-group" class="panel-group loom-arrangeable storybox-container">
  <div class="panel"
       ng-repeat="storyBox in layers = boxService.getBoxes()">
    <div class="panel-heading storybox-heading" data-toggle="collapse" ng-class="{'placeholder-layer': storyBox.title}"
         data-parent="#storyboxpanel-group" data-target="#{{storyBox.id}}">
      <div class="row">
        <div class="layer-title ellipsis" ng-class="{'placeholder-storybox-title': storyBox.title}">
          {{storyBox.title }}
        </div>
      </div>
    </div>
    <div id="{{storyBox.id}}" class="panel-collapse collapse">
      <div class="panel-body layer-inner-panel">
        <div class="btn-group-wrap">
          <div class="btn-group">
            <a type="button" ng-show="storyBox" ng-click="zoomToBox(storyBox)" tooltip-append-to-body="true"
               tooltip-placement="top" tooltip="{{'zoom_to_storybox' | translate}}"
               class="btn btn-sm btn-default">
              <div class="loom-loading" spinner-radius="16" spinner-hidden="!zooming"></div>
              <i class="glyphicon glyphicon-resize-small"></i>
            </a>
            <a type="button" ng-show="storyBox"
               tooltip-append-to-body="true" ng-click="getBoxInfo(storyBox)"
               tooltip-placement="top" tooltip="{{'show_storybox_info' | translate}}"
               class="btn btn-sm btn-default">
              <i class="glyphicon glyphicon-info-sign"></i>
            </a>
            <a type="button" ng-click="removeBox(storyBox)" id="remove-button"
               class="btn btn-sm btn-default" tooltip-append-to-body="true"
               tooltip-placement="top" tooltip="{{'remove_storybox' | translate}}">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
