.feature-info-box-popup {
  display: block;
  position: absolute;
  background-color: @featureInfoBoxColor;
  .box-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 0 10px 10px 10px;
  border-radius: 10px;
  border: 1px solid darken(@featureInfoBoxColor, 10%);
  bottom: 12px;
  left: -50px;
  white-space:nowrap;
  text-overflow: ellipsis;
  &:after, &:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-top-color: @featureInfoBoxColor;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  &:before {
    border-top-color: darken(@featureInfoBoxColor, 10%);
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
}

#feature-info-box-button-group {
  padding-top: 5px;
}

.info-box-mixin {
  max-height: 150px;
  min-width: 50px;
  overflow: hidden;
}

.list-group-info-box {
  .info-box-mixin;
}

.feature-info-box {
  .info-box-mixin;
  overflow-y: auto;
  white-space: normal;
}

.list-group-item-info-box {
  .list-group-item;
  background-color: @featureInfoBoxListItemColor;
  font: @featureInfoBoxLabelFont;
  color: @featureInfoBoxLabelFontColor;
  padding: 4px 4px 4px 4px;
  border: 1px solid darken(@featureInfoBoxColor, 10%);
  &:hover {
    background-color: @featureInfoBoxListItemHoverColor;
  }
}

.info-box-attribute {
  display: block;
  width: 190px;
  margin: 0;
  padding: 0;
  font: @featureInfoBoxLabelFont;
  color: @featureInfoBoxLabelFontColor;
  word-wrap: break-word;
}

.info-box-attribute-value {
  display: block;
  width: 190px;
  max-width: 190px;
  margin: 0;
  padding: 0 0 7px;
  font: @featureInfoBoxValueFont;
  white-space: normal;
  word-wrap: break-word;
}

#feature-info-box-bottom {
  border-top:1px solid darken(@featureInfoBoxColor, 10%);
}

#pic-carousel-container {
  margin-bottom: 10px;
  width: 190px;
  height: 142px;
  overflow: hidden;
}

#feature-info-box-carousel{
  top: 10px;
  .carousel-indicators {
    top: 5px;
    bottom: initial;
  }
}

//-------- image gallary corrections:  --------

#blueimp-gallery {
  .modal {
    position: relative;
  }
  .slides {
    .slide-loading {
      background: url(loading.gif) center no-repeat;
    }
    .slide-error {
      background: url(error.png) center no-repeat;
    }
  }
  .play-pause {
    background: url(play-pause.png) 0 0 no-repeat;
  }
  .modal-body .video-loading a {
    background: url(loading.gif) center no-repeat;
  }
}

body:last-child {
  .blueimp-gallery {
    .slides{
      .slide-error {
        background-image: url(error.svg);
      }
    }
    .play-pause {
      background-image: url(play-pause.svg);
    }
  }
}

// -------------- Attribute Edit Panel ----------------

.wrapper {
  max-height: 400px;
  overflow: auto;
  padding: 15px 20px;
}

.custom-control-label {
  color: @controlLabelFontColor;
  width: 90%;
  word-wrap: break-word;
}

.custom-form-control {
  background-color: @formControlColor;
  border: 1px solid lighten(@formControlColor, 5%);
  color: @formControlFontColor;
}

#attribute-edit-dialog {
  .modal-header {
    color: @editFeatureHeaderFontColor;
    background-color:@editFeatureHeaderColor;
  }
  .modal-footer {
    background-color:@editFeaturePanelColor;
    border-top: none;
  }
  .modal-body {
    background-color:@editFeaturePanelColor;
    padding: 0;
    min-height: 200px;
    overflow: hidden;
    overflow-y: auto;
  }
  button .loading-container {
    position: relative !important;
    top: 10px !important;
  }
  button .text-transparent {
    opacity: 0;
  }
}

.fade-mixin {
  height: 30px;
  left: 0;
  position: absolute;
  width: 97%;
  padding: 0;
  margin: 0;
}

.top-fade {
  top: 0;
  z-index: 10;
  background: linear-gradient(@editFeaturePanelColor, rgba(255,255,255,0));
  .fade-mixin;
}

.bottom-fade {
  bottom: 0;
  z-index: 10;
  background: linear-gradient(rgba(255,255,255,0), @editFeaturePanelColor);
  .fade-mixin;
}

// -------------- Geometry Edit Panel ----------------

#exclusive-mode-container {
  position: absolute;
  right: 50%;
  left: auto;
  top: 0;
  .z-index(@menuLevel);
  background-color: @exclusiveModePanelColor !important;
  color: @exclusiveModeFontColor;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  max-height: 100%;
  overflow: hidden;
  button .loading-container {
    position: relative !important;
    top: 10px !important;
  }
  button .text-transparent {
    opacity: 0;
  }
}