<div class = "container" id = "menu">
    <!-- TODO: Add Actual Number -->
    <nav>
        <div class = "form-group">
            <label for = "chapterTitle">Chapter Title</label>
            <input type = "text" class = "form-control" id = "chapterTitle" />
        </div>
        <div class = "form-group">
            <label for = "chapterSummary">Chapter Summary</label>
            <textarea class = "form-control" id = "chapterSummary"></textarea>
        </div>
        <button class = "btn btn-default btn-block" id = "saveChapterInfo">Save Chapter Info</button>
    </nav>
</div>