<div class = "container" id = "menu">
    <nav>
        <!-- Add Actual Number, Title, Storybox # -->
        <h2>Edit StoryPin</h2>

        <div class = "form-group">
            <label for = "storyPinTitle">StoryPin Title</label>
            <input type = "text" class = "form-control" id = "storyPinTitle" />
        </div>
        <div class = "form-group">
            <label for = "storyPinContent">StoryPin Content</label>
            <textarea class = "form-control" id = "storyPinContent"></textarea>
            <button class = "btn btn-default btn-block" id = "linkMedia">Link Media...</button>
        </div>
        <div class = "form-group">
            <label for = "storyPinLocation">Pin Location</label>
            <p>Drop pin on the map to set pin location.</p>
            <button class = "btn btn-default btn-block" id = "updatePinLocation">Update Pin Location</button>
        </div>
        <div class = "form-group">
            <label for = "storyPinTime">Time</label>
            <input type = "datetime" class = "form-control" id = "storyPinTime" />
        </div>
        <button class = "btn btn-default btn-block" id = "updateStoryPin">Update StoryPin</button>
    </nav>
</div>