<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://oss.maxcdn.com/libs/modernizr/2.6.2/modernizr.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/umd/tab.js"></script>
<html>
<head>
    <title>MapStory Composer</title>
</head>
<body>
<div id="menu">
    <nav>
        <div id="mainMenu">
            <h2><i class="fa fa-reorder"></i>{{ storyService.title }}</h2>

            <div class="form-group">
                <button class="btn btn-default btn-md" data-target="#mapProperties" data-toggle="modal">Summary
                </button>
                <button class="btn btn-default btn-md" data-target="#mapSave" data-toggle="modal">Save MapStory...
                </button>
                <button class="btn btn-default btn-md" data-target="mapPreview" data-toggle="modal">Preview</button>
            </div>

            <a href="#"><h2><i class="fa fa-plus-square-o"></i>Chapter 1</h2></a>

            <a href="#" id="chapterInfoButton"><i class="fa fa-info-cicle"></i><h2 id = "chapterInfoButton">Chapter Info</h2></a>

            <a id="addchapter" ng-click="addChapter();"><h2>Add a new chapter</h2></a>


            <a href="/getskills" target="_blank"><h2>Help</h2></a>
        </div>
        <div id="chapterInfo">
            <h2><i class="fa fa-info-cicle"></i>Chapter Info</h2>

            <a href="#">Chapter Title</a>
            <input class="form-control" type="text" name="chapterTitle" id="chapterTitle"/>

            <a href="#">Chapter Summary</a>
            <textarea class="form-control" name="chapterSummary" id="chapterSummary"></textarea>

            <button data-target="#mapSave" data-toggle="modal" type="button"
                    class="btn btn-default btn-lg center-block">Save Chapter Info
            </button>
        </div>
        <div id="storyLayers">
            <a href="#">StoryLayers</a>
            <h2>StoryLayers</h2>


            <a href="#">Add a New StoryLayer...</a>
        </div>
        <div id="editStoryLayer">
            <a href="#">StoryLayer 1</a>
            <h2>StoryLayer 1</h2>


            <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a data-toggle="tab" href="#style">Style</a>
                <li><a data-toggle="tab" href="#edit">Edit</a></li>
                <li><a data-toggle="tab" href="#infobox">Infobox</a></li>
            </ul>
            <div class="tab-content">
                <div id="style" class="tab-pane fade in active">
                    <p>Carousel</p>
                    <hr>
                    <select class="form-control">
                        <option>Color</option>
                        <option>Red</option>
                        <option>Green</option>
                        <option>Blue</option>
                    </select>
                    <select class="form-control">
                        <option>Symbol Size</option>
                    </select>
                    <select class="form-control">
                        <option>Symbol Style</option>
                    </select>
                    <select class="form-control">
                        <option>Classification</option>
                    </select>
                    <hr>
                    <button class="btn btn-default btn-lg btn-block">Delete this
                        StoryLayer
                    </button>

                    <hr>
                </div>
                <div id="edit" class="tab-pane fade">
                    <button class="btn btn-default btn-lg btn-block">Start Editing</button>
                    <button class="btn btn-default btn-lg btn-block">View Attribute Table
                    </button>
                    <button class="btn btn-default btn-lg btn-block">View History</button>
                    <button class="btn btn-default btn-lg btn-block">Delete This
                        StoryLayer
                    </button>
                </div>
                <div id="infobox" class="tab-pane fade">
                    <div class="form-group">
                        <label for="layerAlias">Layer Alias</label>
                        <textarea class="form-control" id="layerAlias" rows="2"></textarea>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="customizeInfoBox">Customize Info Box</label>
                        <table class="table table-striped table-bordered"
                               id="customizeInfoBox">
                            <tr>
                                <th class="text-center">Attr</th>
                                <th class="text-center">Mask</th>
                                <th class="text-center">Show?</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <hr>
                    <button class="btn btn-default btn-lg btn-block">Save Settings</button>
                    <button class="btn btn-default btn-lg btn-block">Delete this
                        StoryLayer
                    </button>
                </div>
            </div>
        </div>
        <div id="storyBoxes">
            <a href="#">StoryBoxes</a>
            <h2>StoryBoxes</h2>


            <a href="#">StoryBox 1</a>
        </div>
        <div id="editStoryBox">
            <h2>StoryBox 1</h2>


            <h2>Map Extents</h2>
            <div class="form-group">
                <label for="updateMapBounds">Pan and zoom on the map to set the map
                    sounds.</label>
                <button class="btn btn-default btn-block" id="updateMapBounds">Update Map
                    Bounds
                </button>
            </div>


            <h2>Time Frame</h2>
            <hr>
            <div class="form-group">
                <label for="startTime">Start Time</label>
                <input class="form-control" type="datetime" id="startTime"/>
            </div>
            <div class="form-group">
                <label for="endTime">End Time</label>
                <input class="form-control" type="datetime" id="endTime">
            </div>


            <button class="btn btn-default btn-block">Save StoryBox</button>
        </div>
        <div id="addStoryBox">
            <a href="#">Add a New StoryBox...</a>
            <h2>Add a New Storybox</h2>


            <h2>Map Extents</h2>
            <div class="form-group">
                <label for="updateMapBounds">Pan and zoom on the map to set the map
                    sounds.</label>
                <button class="btn btn-default btn-block" id="updateMapBounds">Set Map
                    Bounds
                </button>
            </div>


            <h2>Time Frame</h2>
            <hr>
            <div class="form-group">
                <label for="startTime">Start Time</label>
                <input class="form-control" type="datetime" id="startTime"/>
            </div>
            <div class="form-group">
                <label for="endTime">End Time</label>
                <input class="form-control" type="datetime" id="endTime">
            </div>


            <button class="btn btn-default btn-block">Save StoryBox</button>
        </div>
        <div id="storyPins">
            <a href="#">StoryPins</a>
            <h2>StoryPins</h2>


            <a href="#">StoryPin 1</a>
        </div>
        <div id="editStoryPin">
            <h2>StoryPin 1</h2>


            <div class="form-group">
                <label for="storyPinTitle">StoryPin Title</label>
                <input type="text" class="form-control" id="storyPinTitle"/>
            </div>


            <div class="form-group">
                <label for="storyPinContent">StoryPin Content</label>
                <textarea class="form-control" id="storyPinContent"></textarea>
                <button class="btn btn-default btn-block" id="linkMedia">Link Media...
                </button>
            </div>


            <div class="form-group">
                <label for="storyPinLocation">Pin Location</label>
                <p>Drop pin on the map to set pin location.</p>
                <button class="btn btn-default btn-block" id="savePinLocation">Save Pin
                    Location
                </button>
            </div>


            <div class="form-group">
                <label for="storyPinTime">Time</label>
                <input type="datetime" class="form-control" id="storyPinTime"/>
            </div>

            <button class="btn btn-default btn-block" id="saveStoryPin">Save StoryPin
            </button>
        </div>
        <div id="addStoryPin">
            <a href="#">Add a New StoryPin...</a>
            <h2>Add a New StoryPin</h2>

            <div class="form-group">
                <label for="storyPinTitle">StoryPin Title</label>
                <input type="text" class="form-control" id="storyPinTitle"/>
            </div>


            <div class="form-group">
                <label for="storyPinContent">StoryPin Content</label>
                <textarea class="form-control" id="storyPinContent"></textarea>
                <button class="btn btn-default btn-block" id="linkMedia">Link Media...
                </button>
            </div>


            <div class="form-group">
                <label for="storyPinLocation">Pin Location</label>
                <p>Drop pin on the map to set pin location.</p>
                <button class="btn btn-default btn-block" id="savePinLocation">Save Pin
                    Location
                </button>
            </div>


            <div class="form-group">
                <label for="storyPinTime">Time</label>
                <input type="datetime" class="form-control" id="storyPinTime"/>
            </div>

            <button class="btn btn-default btn-block" id="saveStoryPin">Save StoryPin
            </button>

        </div>


    </nav>
</div>
<script>
    $(document).ready(function () {
        $('#menu').children('div').not('#mainMenu').hide();
        $('#chapterInfoButton').click(function () {
            $('#chapterInfo').toggle();
        });
    });
</script>
</body>
</html>