.loom-arrangeable {
  body.dragging, body.dragging * {
    cursor: move !important;
  }
  .dragged {
    position: absolute;
    opacity: 0.5;
    .z-index(@dialogLevel, -1);
  }
  .placeholder {
    position: relative;
    height: 42px;
    box-shadow: inset 0 10px 10px -10px black,
                inset 0 -10px 10px -10px black;
    background-color: rgba(0,0,0,0.1);
    overflow: hidden;
  }
  .placeholder:before {
    position: absolute;
    display: none;
  }
}