<div class="topText">{{ 'brand_name' | translate }} > {{ chapter.chapter }}</div>
<div class="bottomText">Add a New StoryPin</div>

<div class="menuItem">
    <i class="fa fa-angle-right"></i>
    <a href="#" ng-click="mapService.clearAllInteractions();updateMenuSection('storyPins' + chapter.id)">Back to StoryPins List</a>
</div>
<div class="menuItem">
    <div class="form-group">
        <label for="storyPinTitle">StoryPin Title</label><i class="fa fa-question-circle" tooltip-append-to-body="true" tooltip-placement="right" tooltip="{{ 'storypin_title_tooltip' | translate }}"></i>

        <input type="text" class="form-composer" id="storyPinTitle" ng-model="pin.title"/>
    </div>
</div>

<div class="menuItem">
    <div class="form-group">
        <label for="storyPinContent">StoryPin Content</label><i class="fa fa-question-circle" tooltip-append-to-body="true" tooltip-placement="right" tooltip="{{ 'storypin_content_tooltip' | translate }}"></i>
        <textarea class="form-composer" id="storyPinContent" ng-model="pin.content"></textarea>
        <br>
        <textarea class="form-composer" id="linkMedia" ng-model="pin.media" placeholder="Paste media embed here..."></textarea>
    </div>
</div>

<div class="menuItem">
    <div class="form-group">
        <label for="storyPinLocation">Pin Location</label>
        <button class="btn-composer" ng-click="storyService.addPinLocation(pin)" id="storyPinLocation">Add StoryPin to the Map</button>
    </div>
</div>

<div class="menuItem">
    <div class="form-group">
        <label for="start_time">Start Time</label><i class="fa fa-question-circle" tooltip-append-to-body="true" tooltip-placement="right" tooltip="{{ 'storypin_time_frame_tooltip' | translate }}"></i>
        <div>
            <datetimepicker date-object="pin.start_time" default-date="inserting" id="storyPinStartTime"></datetimepicker>
        </div>
    </div>
    <div class="form-group">
        <label for="end_time">End Time</label>
        <div>
            <datetimepicker date-object="pin.end_time" default-date="inserting"></datetimepicker>
        </div>
    </div>
</div>

<div class="menuItem">
    <div class="form-group">
        <label for="in_map">Show pin on map</label><i class="fa fa-question-circle" tooltip-append-to-body="true" tooltip-placement="right" tooltip="{{ 'storypin_options_tooltip' | translate }}"></i>
        <div>
            <input id="in_map" type="checkbox" ng-init="pin.in_map = true" ng-model="pin.in_map"> In map</input>
        </div>
    </div>
    <div class="form-group">
        <label for="in_timeline">Show pin on timeline</label>
        <div>
            <input id="in_timeline" type="checkbox" ng-init="pin.in_timeline = false" ng-model="pin.in_timeline"> In timeline</input>
        </div>
    </div>
     <div class="form-group">
        <label for="pause_playback">Pause playback of timeline</label>
        <div>
            <input id="pause_playback" type="checkbox" ng-init="pin.pause_playback = false" ng-model="pin.pause_playback"> Pause playback </input>
        </div>
    </div>
</div>
<div class="menuItem">
    <button class="btn-composer" id="saveStoryPin" ng-click="addStoryPin(pin); updateTourStep(25)">Save StoryPin</button>
</div>

<h5 class="text-right"><a href="http://wiki.mapstory.org/wiki/MapStory_Composer#Adding_StoryPins" target="_blank">StoryPins Help</a></h5>
