<h2 ng-show="menuSection=='addStoryBox' + chapter.id"><i class="fa fa-reorder" ng-click="toggleSidebar('addStoryBox' + chapter.id)"></i><i class="fa fa-save" data-target="#mapSave" data-toggle="modal"></i>{{ chapter.chapter }}</h2>
<h2 ng-show="menuSection=='mainMenuHidden'"><i class="fa fa-reorder" ng-click="toggleSidebar('addStoryBox' + chapter.id)"></i></h2>
<h2>{{ storyService.active_chapter.about.title }}</h2>
<h2>Add a New StoryBox</h2>
<div class="menuItem">
    <i class="fa fa-angle-right"></i>
    <a href="#" ng-click="updateMenuSection('storyBoxes' + chapter.id)">Back to StoryBoxes List</a>
</div>
<div class="menuItem">
    <div class="form-group">
        <label for="title">Title</label>
        <div>
            <input ng-model="box.title" ng-required class="form-composer" id="storyBoxTitle" placeholder="Title">
        </div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <div>
                <textarea ng-model="box.description" class="form-composer" id="description"
                          placeholder="Description"></textarea>
        </div>
    </div>
    <h2>Map Extents</h2>
    <div class="form-group">
        <label for="updateMapBounds">Pan and zoom on the map to set the map sounds.</label>
        <button class="btn-composer" id="updateMapBoundsButton" ng-click="storyService.addBoxExtent(box)">Update Map Bounds</button>
    </div>
    <h2>Time Frame</h2>
    <div class="form-group" id="startTime">
        <label for="start_time">Start Time</label>
        <div>
            <datetimepicker date-object="box.start_time" default-date="inserting"></datetimepicker>
        </div>
    </div>
    <div class="form-group">
        <label for="end_time">End Time</label>
        <div>
            <datetimepicker date-object="box.end_time" default-date="inserting"></datetimepicker>
        </div>
    </div>
</div>
<div class="menuItem">
    <button class="btn-composer" ng-click="addStoryBox(box); updateTourStep(16)">Save StoryBox</button>
</div>