<h2 ng-show="menuSection=='chapterInfo' + chapter.id">{{ chapter.chapter }}</h2>
<h2>{{ storyService.active_chapter.about.title }}</h2>
<div class="menuItem">
    <i class="fa fa-angle-right"></i>
    <a href="#" ng-click="updateMenuSection('selectedChapter' + chapter.id); updateTourStep(4)">Back to Selected Chapter</a>
</div>

<div class="menuItem">
    <label for="chapterTitle">Chapter Title</label>
    <input ng-model="storyService.active_chapter.about.title" class="form-composer" type="text" name="chapterTitle" id="chapterTitle"/>
</div>

<div class="menuItem">
    <label for="chapterSummary">Chapter Summary</label>
    <textarea rows="20" ng-model="storyService.active_chapter.about.abstract" class="form-composer" name="chapterSummary" id="chapterSummary"></textarea>
</div>
<div class="menuItem">
    <button ng-click="storyService.save()" type="button" class="btn-composer">Save Chapter Info</button>
</div>