<h2 ng-show="menuSection=='editSingleStoryLayerStyle' + chapter.id + storyLayers.id">{{ chapter.chapter }}ot</h2>

<h2>{{ storyService.active_chapter.about.title }}</h2>
<h2>{{ layerService.getTitle(storyService.active_layer) }}</h2>

<div class="menuItem">
    <i class="fa fa-angle-right"></i>
    <a href="#" ng-click="updateMenuSection('editSingleStoryLayer' + layerName)">Back to Editing Tools</a>
</div>

<div class="editorForm">
    <style-editor ng-if="menuSection=='editSingleStoryLayerStyle' + layerName" class="minheight"
                  control="{carousel:true, default:false}" layer="storyService.active_layer" ng-show="true"
                  on-change="styleChanged"></style-editor>
</div>
