<div class="topText">{{ 'brand_name' | translate }} > {{ chapter.chapter }} > StoryLayers</div>
<div class="bottomText">{{ layerService.getTitle(storyService.active_layer) }}</div>

<div class="menuItem">
    <i class="fa fa-angle-right"></i>
    <a href="#" ng-click="updateMenuSection('storyLayers' + chapter.id)">Back to StoryLayers List</a>
</div>

<button class="btn-storylayer" ng-click="storyService.startFeatureAdd(); toggleSidebar('editStoryLayer' + chapter.id + storyLayers.id)" ng-disabled="storyService.isNotEditable()"><i class="fa fa-plus"></i>Add Feature</button>
<button class="btn-storylayer" ng-click="storyService.startFeatureEdit(); toggleSidebar('editStoryLayer' + chapter.id + storyLayers.id)" ng-disabled="storyService.isNotEditable()"><i class="fa fa-edit"></i>Edit Feature</button>
<button class="btn-storylayer" ng-click="updateMenuSection('editStoryLayerStyle' + chapter.id + storyLayers.id)"><i class="fa fa-paint-brush"></i>Style Layer</button>
<button class="btn-storylayer"><i class="fa fa-tags"></i><a ng-href="/layers/{{ storyService.active_layer.get('metadata').name }}" target="_blank">Metadata</a></button>
<button class="btn-storylayer" ng-click="storyService.showTable()" ng-disabled="storyService.isNotEditable()"><i class="fa fa-list-alt"></i>View Table</button>
<button class="btn-storylayer" ng-disabled="storyService.hasNoHistory()" ng-click="storyService.getHistory();updateMenuSection('viewLayerHistory' + chapter.id + storyLayers.id)"><i class="fa fa-hourglass"></i>View History</button>
<button class="btn-storylayer" ng-click="updateMenuSection('editStoryLayerMasking' + chapter.id + storyLayers.id)"><i class="fa fa-low-vision"></i>Masking</button>
<button class="btn-storylayer" ng-click="removeLayer()"><i class="fa fa-trash-o"></i>Remove Layer</button>

<h5 class="text-right"><a href="http://wiki.mapstory.org/wiki/Versioned_Editing" target="_blank">Editing Help</a></h5>

