<h2>{{ layerService.getTitle(storyService.active_layer) }}</h2>

<button class="btn-storylayer" ng-click="storyService.startFeatureAdd(); toggleSidebar('editSingleStoryLayer' + layerName)" ng-disabled="storyService.isNotEditable()"><i class="fa fa-plus"></i>Add Feature</button>
<button class="btn-storylayer" ng-click="storyService.startFeatureEdit(); toggleSidebar('editSingleStoryLayer' + layerName)" ng-disabled="storyService.isNotEditable()"><i class="fa fa-edit"></i>Edit Feature</button>
<a ng-href="/layers/geonode:{{ storyService.active_layer.get('metadata').name }}" target="_blank"><button class="btn-storylayer"><i class="fa fa-tags"></i>Metadata</button></a>
<button class="btn-storylayer" ng-click="storyService.showTable()" ng-disabled="storyService.isNotEditable()"><i class="fa fa-list-alt"></i>View Table</button>
<button class="btn-storylayer" ng-disabled="storyService.hasNoHistory()" ng-click="storyService.getHistory();updateMenuSection('viewSingleLayerHistory' + layerName)"><i class="fa fa-hourglass"></i>View History</button>
<a ng-href="/layers/geonode:{{ storyService.active_layer.get('metadata').name }}" target="_self"><button class="btn-storylayer"><i class="fa fa-sign-out"></i>Exit</button></a>