<div class="topText">
    <a href="#" ng-click="updateMenuSection('mainMenu')">{{ 'application_name' | translate:'{ name: application.name }' }}</a> >
    <a href="#" ng-click="updateMenuSection('selectedChapter' + chapter.id)">{{ chapter.chapter }}</a> >
    <a href="#" ng-click="updateMenuSection('storyLayers' + chapter.id); updateTourStep()">StoryLayers</a>
</div>
<div class="bottomText">{{ layerService.getTitle(storyService.active_layer) }}</div>

<div class="menuItem">
    <i class="fa fa-angle-right"></i>
    <a href="#" ng-click="updateMenuSection('editStoryLayer' + chapter.id + storyLayers.id)">Back to Editing Tools</a>
</div>

<div class="form-group">
    <div class="loom-storylegend" layer="storyService.active_layer">
    </div>

<h5 class="text-right"><a href="http://wiki.mapstory.org/wiki/MapStory_Composer#Managing_StoryLayers" target="_blank">Masking Help</a></h5>
