<h2 ng-show="menuSection=='editStoryPin' + chapter.id + storyPins.id"><i class="fa fa-reorder" ng-click="toggleSidebar('editStoryPin' + chapter.id + storyPins.id)"></i>{{ chapter.chapter }}</h2>
<h2 ng-show="menuSection=='mainMenuHidden'"><i class="fa fa-reorder" ng-click="toggleSidebar('editStoryPin' + chapter.id + storyPins.id)"></i></h2>
<h2>{{ storyService.active_chapter.about.title }}</h2>
<h2>Edit New StoryPin</h2>

<div class="menuItem">
    <div class="form-group">
        <label for="storyPinTitle">StoryPin Title</label>
        <input type="text" class="form-control" id="storyPinTitle"/>
    </div>
</div>

<div class="menuItem">
    <div class="form-group">
        <label for="storyPinContent">StoryPin Content</label>
        <textarea class="form-control" id="storyPinContent"></textarea>
        <button class="btn btn-default btn-block" id="linkMedia">Link Media...
        </button>
    </div>
</div>

<div class="menuItem">
    <div class="form-group">
        <label for="storyPinLocation">Pin Location</label>
        <p>Drop pin on the map to set pin location.</p>
        <button class="btn btn-default btn-block" id="savePinLocation">Save Pin
            Location
        </button>
    </div>
</div>

<div class="menuItem">
    <div class="form-group">
        <label for="storyPinTime">Time</label>
        <input type="datetime" class="form-control" id="storyPinTime"/>
    </div>
</div>

<div class="menuItem">
    <button class="btn btn-default btn-block" id="saveStoryPin">Save StoryPin</button>
</div>