<div class="topText">
    <a href="#" ng-click="updateMenuSection('mainMenu')">{{ 'application_name' | translate:'{ name: application.name }' }}</a> >
    <a href="#" ng-click="updateMenuSection('selectedChapter' + chapter.id)">{{ chapter.chapter }}</a> >
    <a href="#" ng-click="updateMenuSection('storyPins' + chapter.id); updateTourStep()">StoryPins</a>
</div>
<div class="bottomText"></div>

<div class="menuItem">
    <i class="fa fa-angle-left pull-left"></i>
    <a href="#" ng-click="mapService.clearAllInteractions();updateMenuSection('storyPins' + chapter.id)">Back to StoryPins List</a>
</div>

<div class="menuItem">
    <div class="form-group">
        <label for="storyPinTitle">StoryPin Title</label><i class="fa fa-question-circle" tooltip-append-to-body="true" tooltip-placement="right" tooltip="{{ 'storypin_title_tooltip' | translate }}"></i>
        <input type="text" class="form-composer" id="storyPinTitle" ng-model="storyService.active_pin.title"/>
    </div>
</div>

<div class="menuItem">
    <div class="form-group">
        <label for="storyPinContent">StoryPin Content</label><i class="fa fa-question-circle" tooltip-append-to-body="true" tooltip-placement="right" tooltip="{{ 'storypin_content_tooltip' | translate }}"></i>
        <textarea class="form-composer" id="storyPinContent" ng-model="storyService.active_pin.content"></textarea>
        <br>
        <label for="storyPinMedia">StoryPin Media</label><i class="fa fa-question-circle" tooltip-append-to-body="true" tooltip-placement="right" tooltip="{{ 'storypin_media_tooltip' | translate }}"></i>
        <textarea class="form-composer" id="linkMedia" ng-model="storyService.active_pin.media" placeholder="Paste media embed here..."></textarea>
    </div>
</div>

<div class="menuItem">
    <div class="form-group">
        <label for="storyPinLocation">Pin Location</label>
        <p>Drop pin on the map to set pin location.</p>
        <button class="btn-composer btn-block" id="savePinLocation" ng-click="storyService.addPinLocation(storyService.active_pin)">Save Pin
            Location
        </button>
    </div>
</div>

<div class="menuItem">
    <div class="form-group">
        <label for="start_time">Start Time</label><i class="fa fa-question-circle" tooltip-append-to-body="true" tooltip-placement="right" tooltip="{{ 'storypin_time_frame_tooltip' | translate }}"></i>
        <div>
            <datetimepicker date-object="storyService.active_pin.start_time" default-date="inserting"></datetimepicker>
        </div>
    </div>
    <div class="form-group">
        <label for="end_time">End Time</label>
        <div>
            <datetimepicker date-object="storyService.active_pin.end_time" default-date="inserting"></datetimepicker>
        </div>
    </div>
</div>

<div class="menuItem">
    <div class="form-group">
        <label for="in_map">Show pin on map</label><i class="fa fa-question-circle" tooltip-append-to-body="true" tooltip-placement="right" tooltip="{{ 'storypin_options_tooltip' | translate }}"></i>
        <div>
            <input id="in_map" type="checkbox" ng-model="storyService.active_pin.in_map"> In map</input>
        </div>
    </div>
    <div class="form-group">
        <label for="in_timeline">Show pin on timeline</label>
        <div>
            <input id="in_timeline" type="checkbox" ng-model="storyService.active_pin.in_timeline"> In timeline</input>
        </div>
    </div>
    <div class="form-group">
        <label for="pause_playback">Pause playback of timeline</label>
        <div>
            <input id="pause_playback" type="checkbox" ng-model="storyService.active_pin.pause_playback"> Pause playback </input>
        </div>
    </div>
    <div class="form-group">
        <label for="auto_show">Automatically Show Content</label>
        <div>
            <input id="auto_show" type="checkbox" ng-model="storyService.active_pin.auto_show"> Show Content </input>
        </div>
    </div>
</div>

<div class="menuItem">
    <button class="btn-composer btn-block" id="saveStoryPin" ng-click="pinService.updatePin(storyService.active_pin, chapter.id)">Update StoryPin</button>
</div>
<div class="menuItem">
    <button class="btn-composer btn-block" ng-click="removeStoryPin(storyService.active_pin)">Delete StoryPin</button>
</div>

<h5 class="text-right"><a href="http://wiki.mapstory.org/wiki/MapStory_Composer#Adding_StoryPins" target="_blank">StoryPins Help</a></h5>
