<h2 ng-show="menuSection=='editStoryLayerMasking' + chapter.id + storyLayers.id">{{ chapter.chapter }}</h2>

<h2>{{ storyService.active_chapter.about.title }}</h2>
<h2>{{ layerService.getTitle(storyService.active_layer) }}</h2>

<div class="menuItem">
    <i class="fa fa-angle-right"></i>
    <a href="#" ng-click="updateMenuSection('editStoryLayer' + chapter.id + storyLayers.id)">Back to Editing Tools</a>
</div>

<div class="form-group">
  <div class="loom-storylegend" layer="storyService.active_layer">
</div>