<div class="topText">
    <a href="#" ng-click="updateMenuSection('mainMenu')">{{ 'application_name' | translate:'{ name: application.name }' }}</a> >
    <a href="#" ng-click="updateMenuSection('selectedChapter' + chapter.id)">{{ chapter.chapter }}</a> >
    <a href="#" ng-click="updateMenuSection('storyLayers' + chapter.id); updateTourStep()">StoryLayers</a>
</div>
<div class="bottomText">{{ layerService.getTitle(storyService.active_layer) }}</div>

<div class="menuItem">
    <i class="fa fa-angle-left pull-left"></i>
    <a href="#" ng-click="updateMenuSection('storyLayers' + chapter.id); updateTourStep()">Back to StoryLayers List</a>
</div>

<button class="btn-storylayer" id="addFeatureButton" ng-click="storyService.startFeatureAdd(); toggleSidebar('editStoryLayer' + chapter.id + storyLayers.id)" ng-disabled="storyService.isNotEditable()"><i class="fa fa-plus"></i>Add Feature</button>
<button class="btn-storylayer" id="editFeatureButton" ng-click="storyService.startFeatureEdit(); toggleSidebar('editStoryLayer' + chapter.id + storyLayers.id)" ng-disabled="storyService.isNotEditable()"><i class="fa fa-edit"></i>Edit Feature</button>
<button class="btn-storylayer" id="editStoryLayerStyleButton" ng-click="updateMenuSection('editStoryLayerStyle' + chapter.id + storyLayers.id)"><i class="fa fa-paint-brush"></i>Style Layer</button>
<button class="btn-storylayer" id="editStoryLayerMetaDataButton"><i class="fa fa-tags"></i><a ng-href="/layers/{{ storyService.active_layer.get('metadata').name }}" target="_blank">Metadata</a></button>
<button class="btn-storylayer" id="viewStoryLayerTableButton" ng-click="storyService.showTable()" ng-disabled="storyService.isNotEditable()"><i class="fa fa-list-alt"></i>View Table</button>
<button class="btn-storylayer" id="viewStoryLayerHistoryButton" ng-disabled="storyService.hasNoHistory()" ng-click="storyService.getHistory();updateMenuSection('viewLayerHistory' + chapter.id + storyLayers.id)"><i class="fa fa-hourglass"></i>View History</button>
<button class="btn-storylayer" id="editStoryLayerMaskingButton" ng-click="updateMenuSection('editStoryLayerMasking' + chapter.id + storyLayers.id)"><i class="fa fa-low-vision"></i>Masking</button>
<button class="btn-storylayer" id="removeLayerButton" ng-click="removeLayer()"><i class="fa fa-trash-o"></i>Remove Layer</button>

<h5 class="text-right"><a href="http://wiki.mapstory.org/wiki/Versioned_Editing" target="_blank">Editing Help</a></h5>

