<div class="topText"><a href="#" ng-click="updateMenuSection('mainMenu')">{{ 'application_name' | translate:'{ name: application.name }' }}</a> > <a href="#" ng-click="updateMenuSection('selectedChapter' + chapter.id)">{{ chapter.chapter }}</a></div>

<h2>{{ storyService.active_chapter.about.title }}</h2>
<h2>{{ layerService.getTitle(storyService.active_layer) }}</h2>

<div class="menuItem">
    <i class="fa fa-angle-right"></i>
    <a href="#" ng-click="updateMenuSection('editSingleStoryLayer' + layerName)">Back to Editing Tools</a>
</div>

<div class="editorForm">
    <style-editor ng-if="menuSection=='editSingleStoryLayerStyle' + layerName" class="minheight"
                  control="{carousel:true, default:false}" layer="storyService.active_layer" ng-show="true"
                  on-change="styleChanged"></style-editor>
</div>

<h5 class="text-right"><a href="http://wiki.mapstory.org/wiki/MapStory_Composer#Styles" target="_blank">Styling Help</a></h5>
