<div id="composerTopNav" class="ng-scope" style="padding-bottom: 5px;">
  <span id="topNavContentWrapper">
    <p id="siteNameWrapper">
      <i class="fa fa-home" href="/"></i> MapStory
    </p>
    <p id="usernameWrapper">
      <small style="font-size: 12px;font-weight: 300;">
        @{{ storyService.username }}
      </small>
    </p>
  </span>
  <span ng-class="{'menuOpen': isShown, 'menuClosed': !isShown}">
      <i ng-class="{'fa fa-caret-left': isShown, 'fa fa-caret-right': !isShown}" ng-click="toggleSidebar('mainMenu')" style="padding: 15px;"></i>
  </span>
</div>

<div id="composerIconNav" ng-hide="menuSection=='editSingleStoryLayer' + layerName || menuSection=='viewSingleLayerHistory' + layerName">
    <i class="fa fa-save" ng-click="storyService.save()" tooltip-append-to-body="true" tooltip-placement="right"
       tooltip="{{ 'composer_save_draft_tooltip' | translate }}"></i>
    <i class="fa fa-share-square-o" data-target="#mapSave" data-toggle="modal" tooltip-append-to-body="true" tooltip-placement="right"
       tooltip="{{ 'composer_publish_tooltip' | translate }}"></i>
    <i class="fa fa-tags" data-target="#mapProperties" data-toggle="modal" tooltip-append-to-body="true" tooltip-placement="right"
       tooltip="{{ 'composer_properties_tooltip' | translate }}"></i>
</div>

<h2 ng-show="menuSection=='mainMenu'">
    <div class="topText">{{ 'application_name' | translate:'{ name: application.name }' }} > Chapters</div>
    <div class="bottomText"><a id="mapstory-title" href="{{ storyService.id > 0 && '/story/' + storyService.id || '#'}}" target="_blank">{{ storyService.title }}</a></div>
</h2>
