<div class="bottomText">{{ storyService.active_chapter.about.title }}</div>
<div class="topText"><a href="#" ng-click="updateMenuSection('mainMenu')">{{ 'Index' | translate:'Index' }}</a> > <a href="#" ng-click="updateMenuSection('selectedChapter' + chapter.id)">{{ chapter.chapter }}</a></div>

<div class="menuItem backbutton">
  <a href="#" ng-click="updateMenuSection('mainMenu'); updateTourStep(27)">
    <span class="ng-binding backbuttonarrow">
      <div>
        <i class="fa fa-arrow-left"></i>
      </div>
    </span>
    <span class="backicon" class="ng-binding">
      Back
    </span>
  </a>
</div>

<div class="ng-scope menuItem layerOptions">
    <a href="#" ng-click="updateMenuSection('chapterInfo' + chapter.id); updateTourStep(4)" id="chapterInfoButton">
        <div class="badge badge-warning iconContainer">
          <i class="fa fa-info">
          </i>
        </div><br>
        Chapter Info
    </a>
</div>

<div class="ng-scope menuItem layerOptions">
    <a href="#" ng-click="updateMenuSection('storyLayers' + chapter.id); updateTourStep(6)" id="storyLayersButton">
        <div class="badge badge-warning iconContainer">
          <i class="fa fa-plus">
          </i>
        </div><br>
        StoryLayers

    </a>
</div>

<div class="ng-scope menuItem layerOptions">
    <a href="#" ng-click="updateMenuSection('storyBoxes' + chapter.id); updateTourStep(14)" id="storyBoxesButton">
        <div class="badge badge-warning iconContainer">
          <i class="fa fa-object-group">
          </i>
        </div><br>
        StoryBoxes
    </a>
</div>

<div class="ng-scope menuItem layerOptions">
    <a href="#" ng-click="updateMenuSection('storyPins' + chapter.id); updateTourStep(20)" id="storyPinsButton">
        <div class="badge badge-warning iconContainer">
          <i class="fa fa-neuter">
          </i>
        </div><br>
        StoryPins
    </a>
</div>

<div class="ng-scope deletebutton">
   <a href="#" ng-click="removeChapter()">
     <span class="ng-binding" id="delete-button-inner">
       <div>
         <i class="fa fa-trash-o"></i>
       </div>
     </span>
     <span id="delete-icon-wrapper" class="ng-binding">
       Delete chapter
     </span>
   </a>
</div>
