<div class="topText">{{ 'brand_name' | translate }} > {{ chapter.chapter }}</div>
<div class="bottomText">StoryBoxes</div>

<div class="menuItem">
    <i class="fa fa-angle-right"></i>
    <a href="#" ng-click="updateMenuSection('selectedChapter' + chapter.id); updateTourStep(17)">Back to Selected Chapter</a>
</div>

<a href="#" class="menuItem" ng-click="updateMenuSection('addStoryBox' + chapter.id); updateTourStep(13)" id="addNewStoryBoxButton">Add a New StoryBox...</a>
<div ng-repeat="storyBox in storyBoxes = boxService.getBoxes(chapter.id)" id="storyBoxList">
    <a href="#" class="menuItem" ng-click="storyService.selectBox(storyBox);updateMenuSection('editStoryBox' + chapter.id + storyBoxes.id)">{{ storyBox.title }}</a>
</div>

<h5 class="text-right"><a href="http://wiki.mapstory.org/wiki/MapStory_Composer#Configuring_StoryBoxes" target="_blank">StoryBoxes Help</a></h5>
