<h2 ng-show="menuSection=='storyPins' + chapter.id"><i class="fa fa-reorder" ng-click="toggleSidebar('storyPins' + chapter.id)"></i><i class="fa fa-save" data-target="#mapSave" data-toggle="modal"></i>{{ chapter.chapter }}</h2>
<h2 ng-show="menuSection=='mainMenuHidden'"><i class="fa fa-reorder" ng-click="toggleSidebar('storyPins' + chapter.id)"></i></h2>
<h2>{{ storyService.active_chapter.about.title }}</h2>
<h2>{{ layerService.getTitle(mapService.pinLayer) }}</h2>

<div class="menuItem">
    <i class="fa fa-angle-right"></i>
    <a href="#" ng-click="updateMenuSection('selectedChapter' + chapter.id); updateTourStep(24)">Back to Selected Chapter</a>
</div>

<a href="#" class="menuItem" ng-click="updateMenuSection('addStoryPin' + chapter.id)" id="addNewStoryPinButton" onclick="updateTourStep(19)">Add a New StoryPin...</a>

<div ng-repeat="storyPin in storyPins = pinService.getPins(chapter.id)">
    <a href="#" class="menuItem" ng-click="storyService.selectPin(storyPin);updateMenuSection('editStoryPin' + chapter.id + storyPins.id)">{{ storyPin.title }}</a>
</div>