<h2 ng-show="menuSection=='storyLayers' + chapter.id"><i class="fa fa-reorder" ng-click="toggleSidebar('storyLayers' + chapter.id)"></i>{{ chapter.chapter }}</h2>
<h2 ng-show="menuSection=='mainMenuHidden'"><i class="fa fa-reorder" ng-click="toggleSidebar('storyLayers' + chapter.id)"></i></h2>
<h2>{{ storyService.active_chapter.about.title }}</h2>
<h2>StoryLayers</h2>
<a href="#" class="menuItem" ng-click="updateMenuSection('selectedChapter' + chapter.id)">Back to Selected Chapter</a>
<a href="#add-layer-dialog" class="menuItem" data-toggle="modal">Add a New StoryLayer...
</a>

<div class="loom-arrangeable layer-container" arrangeable-handle="i.fa-navicon"
     arrangeable-item-selector="div.menuItem" arrangeable-callback="reorderLayer"
     arrangeable-placeholder='<div class="placeholder"></div>'>
    <div ng-repeat="storyLayer in storyLayers = storyService.getLayers()">
        <div class="menuItem">
            <i class="fa fa-navicon"></i>
            <i ng-click="storyService.toggleVisiblity(storyLayer)"
               ng-class="{'fa fa-eye': storyLayer.get('visible'), 'fa fa-eye-slash': !storyLayer.get('visible')}"></i>
            <a href="#"
               ng-click="storyService.selectLayer(storyLayer);updateMenuSection('editStoryLayer' + chapter.id + storyLayers.id)">
                {{ storyLayer.get('metadata').title }}
            </a>
        </div>
    </div>
</div>