<h2 ng-show="menuSection=='storyBoxes' + chapter.id"><i class="fa fa-reorder" ng-click="toggleSidebar('storyBoxes' + chapter.id)"></i>{{ chapter.chapter }}</h2>
<h2 ng-show="menuSection=='mainMenuHidden'"><i class="fa fa-reorder" ng-click="toggleSidebar('storyBoxes' + chapter.id)"></i></h2>
<h2>{{ storyService.active_chapter.about.title }}</h2>
<h2>StoryBoxes</h2>

<div class="menuItem">
    <i class="fa fa-angle-right"></i>
    <a href="#" ng-click="updateMenuSection('selectedChapter' + chapter.id)">Back to Selected Chapter</a>
</div>

<a href="#" class="menuItem" ng-click="updateMenuSection('addStoryBox' + chapter.id)">Add a New StoryBox...</a>
<div ng-repeat="storyBox in storyBoxes = boxService.getBoxes(chapter.id)">
    <a href="#" class="menuItem" ng-click="storyService.selectBox(storyBox);updateMenuSection('editStoryBox' + chapter.id + storyBoxes.id)">{{ storyBox.title }}</a>
</div>