<div class="topText"><a href="#" ng-click="updateMenuSection('mainMenu')">{{ 'Index' | translate:'Index' }}</a> > <a href="#" ng-click="updateMenuSection('selectedChapter' + chapter.id)">{{ chapter.chapter }}</a></div>
<div class="bottomText">StoryBoxes</div>

<div class="menuItem">
    <i class="fa fa-angle-left pull-left"></i>
    <a href="#" ng-click="updateMenuSection('selectedChapter' + chapter.id); updateTourStep(19)">Back to Selected Chapter</a>
</div>

<a href="#" class="menuItem" ng-click="updateMenuSection('addStoryBox' + chapter.id); updateTourStep(15)" id="addNewStoryBoxButton">Add a New StoryBox...</a>
<div id="storyBoxList">
    <div ng-repeat="storyBox in storyBoxes = boxService.getBoxes(chapter.id)">
        <a href="#" class="menuItem" ng-click="storyService.selectBox(storyBox);updateMenuSection('editStoryBox' + chapter.id + storyBoxes.id)">
            <span style="font-weight:bold" >{{ storyBox.title }}:</span>
            <span> {{ storyBox.start_time | date:'medium' }} to {{ storyBox.end_time | date:'medium' }}</span>
        </a>
    </div>
</div>
<h5 class="text-right"><a href="http://wiki.mapstory.org/wiki/MapStory_Composer#Configuring_StoryBoxes" target="_blank">StoryBoxes Help</a></h5>
