<div class="topText">MapStory > {{ chapter.chapter }}</div>
<div class="bottomText">{{ storyService.active_layer.get('metadata').title }} History</div>

<div class="menuItem">
    <i class="fa fa-angle-right"></i>
    <a href="#" ng-click="storyService.clearHistory();updateMenuSection('editStoryLayer' + chapter.id + storyLayers.id)">Back to StoryLayer</a>
</div>
    <div ng-repeat="commit in log = historyService.log | filter:{visible:'true'}">
        <div class="menuItem historyItem">
            <div class="commit-summary progress">
                <div class="progress-bar progress-bar-add" ng-style="commit.summary.added">
                    <span class="sr-only"></span>
                </div>
                <div class="progress-bar progress-bar-modify" ng-style="commit.summary.modified">
                    <span class="sr-only"></span>
                </div>
                <div class="progress-bar progress-bar-delete" ng-style="commit.summary.removed">
                    <span class="sr-only"></span>
                </div>
                <div ng-if="commit.summary == null || commit.summary == undefined" class="progress-bar progress-bar-none">
                    <span class="sr-only"></span>
                </div>
            </div>
            <div>
                <div ng-if="commit.author.name.length == 0">
                    <h2 class="commit-author">Anonymous</h2>
                </div>
                <div ng-if="commit.author.name != null">
                    <h2 class="commit-author">{{ commit.author.name }}</h2>
                </div>
                <h2 class="commit-date">{{ commit.committer.timestamp | date:'MMM d, yyyy' }}</h2>
            </div>
            <div>
                <div>
                    <!--<i class="fa fa-user" ng-href="/storyteller/{{ commit.author.username }}" tooltip-append-to-body="true" tooltip-placement="right" tooltip="{{ 'storylayer_view_author_tooltip' | translate }}"></i>-->
                    <i class="fa fa-exchange" ng-click="storyService.historyClicked(commit)" tooltip-append-to-body="true" tooltip-placement="right" tooltip="{{ 'storylayer_show_difference_tooltip' | translate }}"></i>
                    <i class="fa fa-globe" ng-click="storyService.zoomToCommit(commit)" tooltip-append-to-body="true" tooltip-placement="right" tooltip="{{ 'storylayer_view_feature_tooltip' | translate }}"></i>
                </div>
            </div>
        </div>
    </div>