<h2>{{ chapter.chapter }}</h2>
<h2>{{ chapter.title }}</h2>
<a href="#"><h2 ng-click="updateMenuSection('selectedChapter' + chapter.id)">Back</h2></a>
<h2>Map Extents</h2>
<div class="form-group">
    <label for="updateMapBounds">Pan and zoom on the map to set the map
        sounds.</label>
    <button class="btn btn-default btn-block" id="updateMapBounds">Update Map
        Bounds
    </button>
</div>
<h2>Time Frame</h2>
<hr>
<div class="form-group">
    <label for="startTime">Start Time</label>
    <input class="form-control" type="datetime" id="startTime"/>
</div>
<div class="form-group">
    <label for="endTime">End Time</label>
    <input class="form-control" type="datetime" id="endTime">
</div>
<button class="btn btn-default btn-block">Save StoryBox</button>