<h2 ng-show="menuSection=='editStoryBox' + chapter.id + storyLayers.id"><i class="fa fa-reorder" ng-click="toggleSidebar('editStoryBox' + chapter.id + storyLayers.id)"></i>{{ chapter.chapter }}</h2>
<h2 ng-show="menuSection=='mainMenuHidden'"><i class="fa fa-reorder" ng-click="toggleSidebar('editStoryBox' + chapter.id + storyLayers.id)"></i></h2>
<h2>{{ storyService.active_chapter.about.title }}</h2>

<div class="menuItem">
    <i class="fa fa-angle-right"></i>
    <a href="#" ng-click="updateMenuSection('storyBoxes' + chapter.id)">Back</a>
</div>
<div class="menuItem">
    <h2>Map Extents</h2>
    <div class="form-group">
        <small><label for="updateMapBounds">Pan and zoom on the map to set the map sounds.</label></small>
        <button class="btn btn-default btn-block" id="updateMapBounds">Update Map Bounds</button>
    </div>
    <h2>Time Frame</h2>
    <hr>
    <div class="form-group">
        <small><label for="startTime">Start Time</label></small>
        <input class="form-control" type="datetime" id="startTime"/>
    </div>
    <div class="form-group">
        <small><label for="endTime">End Time</label></small>
        <input class="form-control" type="datetime" id="endTime">
    </div>
</div>

<div class="menuItem">
    <button class="btn btn-default btn-block">Save StoryBox</button>
</div>