<h2 ng-show="menuSection=='editStoryLayer' + chapter.id + storyLayers.id"><i class="fa fa-reorder"
                                                                             ng-click="toggleSidebar('editStoryLayer' + chapter.id + storyLayers.id)"></i>{{ chapter.chapter }}
</h2>
<h2 ng-show="menuSection=='mainMenuHidden'"><i class="fa fa-reorder" ng-click="toggleSidebar('editStoryLayer' + chapter.id + storyLayers.id)"></i>
</h2>
<h2>{{ storyService.active_chapter.about.title }}</h2>
<h2>{{ storyService.active_layer.get('metadata').title }}</h2>

<div class="menuItem">
    <i class="fa fa-angle-right"></i>
    <a href="#" ng-click="updateMenuSection('storyLayers' + chapter.id)">Back</a>
</div>

<div class="menuItem">
    <ul class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a data-toggle="tab" href="#style{{ chapter.id }}{{ storyLayers.id }}">Style</a>
        <li><a data-toggle="tab" href="#edit{{ chapter.id }}{{ storyLayers.id }}">Edit</a></li>
        <li><a data-toggle="tab" href="#infobox{{ chapter.id }}{{ storyLayers.id }}">Infobox</a></li>
    </ul>
    <div class="tab-content">
        <div id="style{{ chapter.id }}{{ storyLayers.id }}" class="tab-pane fade in active">

            <div id="styleRow" class="row" ng-show="true">
                <style-editor ng-if="menuSection=='editStoryLayer' + chapter.id + storyLayers.id" class="minheight" control="{carousel:true, default:false}" layer="storyService.active_layer" ng-show="true" on-change="styleChanged"></style-editor>
            </div>
            <hr>
            <button class="btn btn-default btn-lg btn-block" ng-click="removeLayer()">Delete this
                StoryLayer
            </button>

            <hr>
        </div>
        <div id="edit{{ chapter.id }}{{ storyLayers.id }}" class="tab-pane fade">
            <button class="btn btn-default btn-lg btn-block" ng-click="storyService.startFeatureAdd()"
                    ng-disabled="storyService.isEditable()">Start Editing
            </button>
            <button class="btn btn-default btn-lg btn-block" ng-click="storyService.showTable()"
                    ng-disabled="storyService.isEditable()">View Attribute Table
            </button>
            <button class="btn btn-default btn-lg btn-block">View History</button>
            <button class="btn btn-default btn-lg btn-block" ng-click="removeLayer()">Delete This
                StoryLayer
            </button>
        </div>
        <div id="infobox{{ chapter.id }}{{ storyLayers.id }}" class="tab-pane fade">
            <div class="form-group">
                <label for="layerAlias">Layer Alias</label>
                <textarea class="form-control" id="layerAlias" rows="2"></textarea>
            </div>
            <hr>
            <div class="form-group">
                <label for="customizeInfoBox">Customize Info Box</label>
                <table class="table table-striped table-bordered"
                       id="customizeInfoBox">
                    <tr>
                        <th class="text-center">Attr</th>
                        <th class="text-center">Mask</th>
                        <th class="text-center">Show?</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <hr>
            <button class="btn btn-default btn-lg btn-block">Save Settings</button>
            <button class="btn btn-default btn-lg btn-block" ng-click="removeLayer()">Delete this
                StoryLayer
            </button>
        </div>
    </div>
</div>