<a>{{ chapter.chapter }}</a>
<a>{{ storyService.active_chapter.about.title }}</a>
<a href="#" class="menuItem" ng-click="updateMenuSection('selectedChapter' + chapter.id)">Back</a>
<a href="#add-layer-dialog" class="menuItem" data-toggle="modal">Add a New StoryLayer...
</a>

<div ng-repeat="storyLayer in storyLayers = storyService.getLayers()">
    <div class="menuItem">
        <i class="fa fa-navicon"></i>
        <i ng-click="storyService.toggleVisiblity(storyLayer)"
           ng-class="{'fa fa-eye': storyLayer.get('visible'), 'fa fa-eye-slash': !storyLayer.get('visible')}"></i>
        <a href="#" ng-click="storyService.selectLayer(storyLayer);updateMenuSection('editStoryLayer' + chapter.id + storyLayers.id)">
            {{ storyLayer.get('metadata').title }}
        </a>
    </div>
</div>