<h2>{{ chapter.chapter }}</h2>
<h2>{{ storyService.active_chapter.about.title }}</h2>
<a href="#"><h2 ng-click="updateMenuSection('selectedChapter' + chapter.id)">Back</h2></a>
<a href="#add-layer-dialog" data-toggle="modal"><h2>Add a New
    StoryLayer...</h2>
</a>
<div ng-repeat="storyLayer in storyLayers = storyService.getLayers()">
    <a href="#"><h2 ng-click="storyService.selectLayer(storyLayer);updateMenuSection('editStoryLayer' + chapter.id + storyLayers.id)">{{
        storyLayer.get('metadata').title }}</h2></a>
</div>