<div id="editFeatureBody" class="modal-body">
  <div class="top-fade"></div>
  <div class="bottom-fade"></div>
  <form name="editfeatureform" class="form wrapper">
    <div class="form-group" ng-if="feature.geometry.type == 'Point'">
        <label for="latLonEdit" class="control-label custom-control-label">Location ( lon, lat )</label>
        <latloneditor id="latLonEdit" coord-display="coordDisplay" form-name="editfeatureform" geom="feature.geometry"></latloneditor>
    </div>
    <div class="form-group" ng-repeat="prop in properties">
        <label class="control-label custom-control-label">{{prop[0]}}</label>
        <autotextarea ng-model="prop[1]" class="form-control custom-form-control auto-text-area"></autotextarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="featureManagerService.endAttributeEditing(properties)" data-dismiss="modal">Save</button>
</div>