<div id="exclusive-mode-container" class="panel-group collapse flat-top">
  <div id="exclusive-mode-panel" class="panel in">
    <div align="center"><h5>{{exclusiveModeService.getTitle()}}</h5></div>
    <button ng-click="exclusiveModeService.getButtonOne().callback()" class="btn btn-default">{{exclusiveModeService.getButtonOne().title}}</button>
    <button ng-click="exclusiveModeService.getButtonTwo().callback()" class="btn btn-default">{{exclusiveModeService.getButtonTwo().title}}</button>
  </div>
</div>
