<div>
  <div class="row">
    <div ng-if="featureManagerService.getPreviousState() != ''" class="btn btn-sm pull-left">
      <i class="glyphicon glyphicon-chevron-left" ng-click="featureManagerService.showPreviousState()"></i>
    </div>
    <div class="btn btn-sm pull-right">
      <i class="glyphicon glyphicon-remove" ng-click="featureManagerService.hide()"></i>
    </div>
  </div>
  <div class="animate-switch-container">
    <div ng-if="featureManagerService.getState() == 'layers'">
      <ul class="list-group list-group-info-box">
        <li ng-repeat="layerInfo in featureManagerService.getSelectedItem()" class="list-group-item-info-box"
            ng-click="featureManagerService.show(layerInfo)">
          <div>{{layerInfo.layer.get('metadata').title}}</div>
        </li>
      </ul>
    </div>
    <div ng-if="featureManagerService.getState() == 'layer'">
      <ul class="list-group list-group-info-box">
        <li ng-repeat="feature in featureManagerService.getSelectedItem().features" class="list-group-item-info-box"
            ng-click="featureManagerService.show(feature)">
          <div>{{feature.id}}</div>
        </li>
      </ul>
    </div>
  </div>

  <div ng-if="featureManagerService.getState() == 'feature'">
    <div id="pic-carousel-container" ng-if="featureManagerService.getSelectedItemPics()">
      <carousel id="feature-info-box-carousel" interval="2000">
        <slide ng-repeat="pic in featureManagerService.getSelectedItemPics()">
          <img ng-src="{{pic}}" style="margin: auto" ng-click="featureManagerService.showPics($index)">
        </slide>
      </carousel>
    </div>

    <div class="feature-info-box">
      <span ng-repeat="prop in featureManagerService.getSelectedItemProperties()">
        <span class="info-box-attribute">{{prop[0]}}</span>
        <span class="info-box-attribute-value">{{prop[1]}}</span>
      </span>
    </div>

    <div id="feature-info-box-bottom">
      <div id="feature-info-box-button-group" class="btn-group pull-right">
        <button type="button" ng-click="showFeatureHistory()" tooltip-append-to-body="true" tooltip-placement="top"
                tooltip="{{'show_history' | translate}}"
                class="btn btn-sm btn-default glyphicon glyphicon-time">
          <div class="loom-loading" spinner-radius="10" spinner-width="2" spinner-hidden="!loadingHistory"></div>
                </button>
        <!--<button type="button" tooltip-append-to-body="true" tooltip-placement="top" tooltip="{{'show_pics' | translate}}"
                class="btn btn-sm btn-default glyphicon glyphicon-camera"></button>-->
        <button type="button" ng-click="featureManagerService.startAttributeEditing()"
                tooltip-append-to-body="true" tooltip-placement="top" tooltip="{{'edit_attributes' | translate}}"
                class="btn btn-sm btn-default glyphicon glyphicon-list-alt"></button>
        <button type="button" ng-click="featureManagerService.startGeometryEditing()"
                tooltip-append-to-body="true" tooltip-placement="top" tooltip="{{'edit_geometry' | translate}}"
                class="btn btn-sm btn-default glyphicon glyphicon-edit"></button>
        <button type="button" ng-click="deleteFeature()" tooltip-append-to-body="true" tooltip-placement="top" tooltip="{{'delete_feature' | translate}}"
                class="btn btn-sm btn-default glyphicon glyphicon-trash"></button>
      </div>
    </div>
  </div>
</div>
