#merge-loading {
  .loading-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .z-index(@dialogLevel, 1);
    background-color: rgba(0,0,0,0.5);
  }
  .loading-spinner {
    border-color: white !important;
  }
}
