<div class="input-group">
    <input class="form-control" type="text" ng-model="attribute.filter.filter" ng-disabled="attribute.filter.searchType === 'numRange'">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" ng-class="{'dirty-filter': (attribute.filter.searchType !== 'exactMatch')}">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a value="exactMatch" ng-click="exactMatch(); $event.stopPropagation();" class="filter-option"
                   ng-class="{'filter-options-selected': (attribute.filter.searchType === 'exactMatch')}">
                    Exact Match
                </a>
            </li>
            <li ng-switch="filterType">
                <div ng-switch-when="number" ng-click="numRange(); $event.stopPropagation();">
                    <div class="filter-option"
                         ng-class="{'filter-options-selected': (attribute.filter.searchType === 'numRange')}">Range</div>
                    <span>
                        <span class="label range-label">From:</span>
                        <input type="text" ng-blur="updateFilterText()" class="filter-range-text form-control"
                               ng-model="attribute.filter.start" placeholder="min">
                    </span>
                    <br>
                    <span>
                        <span class="label range-label">To:</span>
                        <input type="text" ng-blur="updateFilterText()" class="filter-range-text form-control"
                               ng-model="attribute.filter.end" placeholder="max">
                    </span>
                </div>
                <a ng-switch-when="text" ng-click="strContains(); $event.stopPropagation();" class="filter-option"
                   ng-class="{'filter-options-selected': (attribute.filter.searchType === 'strContains')}">
                    Contains
                </a>
                <a ng-switch-when="date" ng-click="numRange(); updateFilterText; $event.stopPropagation();"
                   class="filter-option date-time-option" ng-blur="updateFilterText()"
                   ng-class="{'filter-options-selected': (attribute.filter.searchType === 'numRange')}">
                    Range
                    <form>
                        <div class="form-group">
                            <label for="start-date">From:</label>
                            <datetimepicker id="start-date" ng-blur="updateFilterText()" date-object="attribute.filter"
                                            date-key="'start'" default-date="false" seperate-time="false"></datetimepicker>
                        </div>
                        <div class="form-group">
                            <label for="end-date">To:</label>
                            <datetimepicker id="end-date" ng-blur="updateFilterText()" date-object="attribute.filter"
                                            date-key="'end'" default-date="false" seperate-time="false"></datetimepicker>
                        </div>
                    </form>
                </a>
            </li>
        </ul>
    </div>
</div>