<div class="modal-body">
  <input id="filter-text" type="text">
  <button id="filter-button" ng-click="filterTable()">Filter</button>
  <button ng-click="clearFilter()">Clear</button>
  <div class="panel panel-default">
      <table class="table-hover table-striped sortable">
        <thead>
        <tr>
          <th ng-repeat="attr in attributes track by $index">{{attr}}</th>
        </tr>
        </thead>

        <tr ng-repeat="feature in featureList" ng-show="feature.visible">
          <td ng-repeat="property in feature.properties track by $index">
            {{property}}
          </td>
        </tr>

      </table>
	  <!--<button type="submit" class="btn btn-default" ng-show="tableviewform.$visible">Save</button>-->
  </div>
</div>
<div class="modal-footer">
    <!--<button type="button" class="btn btn-default" ng-click="tableviewform.$show()" ng-show="!tableviewform.$visible">Edit Table</button>-->
    <!--<button type="button" class="btn btn-default" ng-click="tableviewform.$hide()" ng-disabled="!tableviewform.$visible">Stop Editing</button>-->
    <button type="button" class="btn btn-default" ng-click="toggleWordWrap()">Toggle Word Wrap</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>