<div class="modal-body">
  <form ng-submit="filterTable()">
    <div class="input-group input-group-sm" id="table-filter-group">
      <input class="form-control" id="filter-text" type="text" ng-model="filterText" ng-change="clearFilter()">
      <span class="input-group-btn">
        <a type="button" class="btn btn-default" id="filter-button" ng-click="filterTable()">
            <i ng-if="!filteringTable" class="glyphicon glyphicon-search"></i>
            <i ng-if="filteringTable" class="glyphicon glyphicon-remove"></i>
        </a>
      </span>
    </div>
  </form>
  <form editable-form name="tableviewform" onaftersave="saveTable()">
    <div class="panel panel-default">
      <table class="table-striped table-hover sortable">
        <thead>
          <tr>
            <th>{{'feature_id' | translate}}</th>
            <th ng-repeat="attr in attributes">{{attr}}</th>
          </tr>
        </thead>
        <tr ng-repeat="row in rows" ng-show="row.visible" ng-class="{selectedRow: row.selected}" ng-click="selectFeature(row)">
          <td>{{row.feature.id}}</td>
          <td ng-repeat="attr in attributes track by $index">
            <div ng-switch on="restrictions[attr]">
              <span ng-switch-when="" editable-text="row.feature.properties[attr]" e-form="tableviewform"
                    e-style="width:160px">{{row.feature.properties[attr]}}</span>
              <span ng-switch-when="noEdit">{{row.feature.properties[attr]}}</span>
              <span ng-switch-when="int" editable-text="row.feature.properties[attr]" e-form="tableviewform"
                    e-style="width:160px">{{row.feature.properties[attr]}}</span>
              <span ng-switch-when="double" editable-text="row.feature.properties[attr]" e-form="tableviewform"
                    e-style="width:160px">{{row.feature.properties[attr]}}</span>
              <span ng-switch-when="date" editable-text="row.feature.properties[attr]" e-form="tableviewform"
                    e-style="width:160px">{{row.feature.properties[attr]}}</span>
              <span ng-switch-when="time" editable-text="row.feature.properties[attr]" e-form="tableviewform"
                    e-style="width:160px">{{row.feature.properties[attr]}}</span>
              <div ng-switch-when="datetime">
                  <span ng-if="!tableviewform.$visible">{{row.feature.properties[attr] | date:"MM/dd/yyyy @ h:mma"}}</span>
                  <datetimepicker ng-if="tableviewform.$visible" id="table-datetime" date-object="row.feature.properties" date-key="attr" default-date="false" seperate-time="false"></datetimepicker>
              </div>

              <span ng-switch-default editable-select="row.feature.properties[attr]" e-form="tableviewform" e-style="width:160px"
                    e-ng-options="r._value as r._value for r in restrictions[attr]">{{row.feature.properties[attr]}}</span>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <button type="submit" class="btn btn-primary table-btn" ng-show="tableviewform.$visible">{{'save_btn' | translate}}</button>
    <button type="button" class="btn btn-default table-btn" ng-click="tableviewform.$cancel()" ng-show="tableviewform.$visible">{{'cancel_btn' | translate}}</button>
    <button type="button" class="btn btn-default table-btn" ng-click="tableviewform.$show()"
          ng-show="!tableviewform.$visible && !readOnly" tooltip="{{'edit_attributes' | translate}}" tooltip-append-to-body="true">
        <i class="glyphicon glyphicon-edit"></i>
    </button>
    <button type="button" class="btn btn-default table-btn" ng-click="toggleWordWrap()" tooltip="{{'word_wrap' | translate}}" tooltip-append-to-body="true">
        <i class="glyphicon glyphicon-text-width"></i>
    </button>
    <button type="button" class="btn btn-default table-btn" ng-click="goToMap()" ng-show="selectedRow != null" tooltip="{{'go_to_map' | translate}}" tooltip-append-to-body="true">
        <i class="glyphicon glyphicon-globe"></i>
    </button>
    <button type="button" class="btn btn-default table-btn pull-right" ng-click="tableviewform.$cancel()" data-dismiss="modal">{{'close_btn' | translate}}</button>
  </form>
</div>
