ul.tree, ul.tree ul {
	list-style-type: none;
	background: url(images/vline.png) repeat-y;
	margin: 0;
	padding: 0;
	padding-left: 7px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
}

li.last {
	background-image: 'url("images/lastnode.png")';
	background-repeat: no-repeat;
}

ul.tree ul {
	padding-left: 7px;
}

ul.tree li {
	margin: 0;
	padding: 0 12px;
	line-height: 22px;
	background: url(images/node.png) no-repeat;
}

ul.tree li.last {
	background: #fff url(images/lastnode.png) no-repeat;
}

img.exp_col {
	position: absolute;
	margin-top: 4px;
	margin-left: -20px;
	vertical-align: sub;
}

img.exp_col_empty {
	position: absolute;
	margin-top: 4px;
	margin-left: -20px;
	vertical-align: sub;
	width: 16px;
}

img.icon_tree {
	vertical-align: middle;
	padding-left: 3px;
	margin-top: -3px;
}

a.node {
	padding: 2px;
}

span.node a {
	padding-left: 3px;
}

span.node {
	margin-left: -1px;
	padding-right: 3px;

	padding-top: 4px;
	padding-bottom: 4px;
}

span.node:hover {
	margin-left: -1px;
	padding-right: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #DCEDFF;
	border-radius: 2px;
}

span.node_selected {
	margin-left: -2px;
	padding-right: 3px;

	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #CEFFCE;
	border: 1px solid #8AE88A;
	border-radius: 2px;
}

span.node_selected a {
	padding-left: 3px;
}

.menu,.sub-menu {
  margin: 0;
  padding: 0;
	font: 10px Verdana, sans-serif;
}

.menu,
.sub-menu {
  list-style: none;
  background: #000;
}
.sub-menu {
  background: #F1F1F1;
}
.menu a {
  text-decoration: none;
  display: inline-block;
  padding: 8px;
}

.menu span {
  position: absolute;
	width: 100%;
	height: 100%;
}

.menu div {
  position: absolute;
	right: 4px;
	top: 0px;
	padding: 8px;
}

.menu .menu_img {
	vertical-align: middle;
}

.menu img {
  text-decoration: none;
  display: inline-block;
	vertical-align: sub;
  padding-left: 5px;
}
.menu li {
  position: relative;
}

.menu li:hover {
  background: #eee;
  cursor: pointer;
}

.sub-menu li:hover {
  background:  #eee;
}
.menu li:hover > .sub-menu {
  display: block;
}

.menu {
	width: 150px;
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
	z-index: 9999;
	box-shadow: 2px 2px 5px 2px #777;
	background-color: #e4e4e4;
}


.sub-menu {
  display: none;
  position: absolute;
  min-width: 150px;
	box-shadow: 2px 2px 3px #e4e4e4;
}

.menu .sub-menu {
  top: 0;
  left: 100%;
}

.menu a {
	color: #000;
}
