<div>
    <div class="modal-body explorer-mini">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li><a data-toggle="tab">Search</a></li>
                    <li><a data-toggle="tab">My Uploads</a></li>
                    <li><a data-toggle="tab">My Favorites</a></li>
                </ul>
            </div>
            <div class="tab-content col-md-12" style="min-height:270px;">
                <div class="tab-pane active" id="Explore">
                    <div>
                        <div>
                            <nav class="filter">
                                <div class="input-group search-bar" >
                                    <input name="text_search_input_exp" id="text_search_input_exp" placeholder="Search for StoryLayers ..." ng-model="layerName" type="text" class="form-control search-input">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary search-btn" ng-disabled="!layerName" type="submit" id="text_search_btn"><i class="glyphicon glyphicon-search"></i> Search</button>
                                    </span>
                                </div>
                            </nav>
                            <div class="clearfix search-results">
                                <!-- TODO: Query MapLoom API and display results in a grid -->
                            </div>
                            <div class="search-pagination">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span class="pull-left"></span>
        <button class="btn btn-primary">Use Selected</button>
    </div>
</div>