<div class="modal-body">
  <form class="form-horizontal col-md-12">
    <div class="form-group">
      <div class="btn-group custom-width-100">
        <div class="btn-group custom-width-88">
          <button type="button" class="btn btn-default dropdown-toggle custom-width-100" data-toggle="dropdown">
            <span class="pull-left"> {{serverService.getServer(currentServerIndex).name}} </span>
            <span class="caret right-and-center"></span>
          </button>
          <ul id="server-list" class="dropdown-menu col-md-12">
            <li ng-repeat="server in servers = serverService.getServers()"><a ng-click="selectServer($index)">{{server.name}}</a></li>
            <li class="divider"></li>
            <li><a data-target="#add-server-dialog" data-toggle="modal" translate="add_new_server">Add New Server</a></li>
          </ul>
        </div>
        <button type="button" ng-class="{'disabled': currentServerIndex==1}" ng-click="serverService.refreshLayers(currentServerIndex)" class="btn btn-default"><i class="glyphicon glyphicon-repeat"></i></button>
      </div>
    </div>
    <div class="form-group">
      <input id="layer-filter" ng-model="filterLayers" type="text" class="form-control" placeholder="{{'filter_layers' | translate}}">
    </div>
    <hr>
    <div class="form-group">
      <ul id="layer-list" class="list-group">
        <li ng-repeat="layer in layers = serverService.getLayers(currentServerIndex) | filter:{added:'false'} | filter:filterLayers"
            class="list-group-item">
          <div class="row">
            <div class="col-xs-2">
              <div class="loom-check-button btn btn-xs" ng-model="layer.add" btn-checkbox btn-checkbox-true="true"
                   btn-checkbox-false="false">
                <i class="glyphicon" ng-class="{'glyphicon-unchecked': !layer.add, 'glyphicon-check': layer.add}"></i>
              </div>
            </div>
            <div class="col-xs-8 ellipsis">{{layer.title}}</div>
            <div class="col-xs-1">
              <i class="glyphicon glyphicon-info-sign"></i>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" translate="close_btn">Close</button>
  <button type="button" class="btn btn-primary" ng-click="addLayers()" data-dismiss="modal"
    translate="add_btn">Add</button>
</div>
