<nav class="filter panel panel-default">
    <div class="panel-body">
      <div class="col-md-12">
        <div class="row">
          <div class="search-bar col-md-6 col-xs-6">
            <input name="text_search_input_exp" id="text_search_input_exp" placeholder="Search for ..."
              ng-model="filterOptions.text" type="text" class="form-control search-input input-lg">
          </div>
          <div class="form-group col-md-5 col-md-offset-1 col-xs-6">
            <select class="form-control input-lg search-input select-search">
              <option>Catalog 1</option>
              <option>Catalog 2</option>
            </select>
          </div>
        </div>
        <div class="row range-search">
          <div class="col-lg-2 col-lg-offset-1  col-sm-3  col-xs-3 text-right range-search-label">FROM</div>
          <div class="col-lg-3 col-sm-3 col-xs-7"><input type="text" name="name" value="" class="form-control search-input input-sm"></div>
          <div class="col-lg-1 col-sm-3 col-xs-3 text-right range-search-label">TO</div>
          <div class="col-lg-3 col-sm-3 col-xs-7"><input type="text" name="name" value="" class="form-control search-input input-sm"></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6">
              <div class="pull-right">
                <button type="button" name="button" class="btn btn-search btn-lg">RESET</button>
              </div>
            </div>
            <div class="col-md-6 col-xs-6">
              <div class="pull-left">
                <button class="btn btn-search btn-lg" ng-disabled="!filterOptions.text" ng-click="search()"
                  type="submit" id="text_search_btn"><i class="glyphicon glyphicon-search"></i> SEARCH</button>
              </div>
            </div>
        </div>
      </div>
    </div>
</nav>
