<div>
    <div class="modal-body explorer-mini">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li><a data-toggle="tab">Search</a></li>
                    <li><a data-toggle="tab">My Uploads</a></li>
                    <li><a data-toggle="tab">My Favorites</a></li>
                </ul>
            </div>
            <div class="tab-content col-md-12" style="min-height:270px;">
                <div class="tab-pane active" id="Explore">
                    <div>
                        <div>
                            <nav class="filter">
                                <div class="input-group search-bar" >
                                    <input name="text_search_input_exp" id="text_search_input_exp" placeholder="Search for StoryLayers ..." ng-model="layerName" type="text" class="form-control search-input">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary search-btn" ng-disabled="!layerName" type="submit" id="text_search_btn"><i class="glyphicon glyphicon-search"></i> Search</button>
                                    </span>
                                </div>
                            </nav>
                            <div class="clearfix search-results">
                                    <div class = "col-sm-4 panel panel-default" ng-repeat="layer in layersConfig = serverService.getLayersConfigByName('Local Geoserver') | filter:filterLayers | filter:filterAddedLayers">
                                        <div class = "panel-body">
                                            <img class = "img-responsive" src = "http://4.bp.blogspot.com/-xTMI8vGVtMk/Tt02EkO6OjI/AAAAAAAABww/ilpYBaUSNC4/s1600/Grand_Tour_Beckford.jpg">
                                            <h4>{{ layer.Title }}</h4>
                                            <i class = "icon-user"></i><h4>{{ layer.author }}</h4>
                                            <button class = "btn btn-default center-block" ng-click = "addLayers(layer)" data-dismiss="modal">Use</button>
                                            <a ng-href="http://www.mapstory.org{{ layer.detail_url }}" target = "_blank"><button class = "btn btn-default center-block">View</button></a>
                                        </div>
                                    </div>

                            </div>
                            <div class="search-pagination">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>