<div id="server-add-loading" class="loom-loading" spinner-width="6" spinner-radius="40" spinner-hidden="!loading"></div>
<div class="modal-body">
  <form name="serverform" class="form-horizontal">
    <div class="form-group">
      <div class="col-md-2">
        <label class="control-label"><span translate="server_type"></span>: </label>
      </div>
      <div class="col-md-10">
      <select ng-model="type" class="form-control">
        <option>WMS</option>
        <option>TMS</option>
        <option>TileJSON</option>
      </select>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !serverform.servername.$valid}">
      <div class="col-md-2">
        <label class="control-label"><span translate="server_name"></span>: </label>
      </div>
      <div class="col-md-10">
        <input id="server-name" name="servername" ng-model="name" ng-minlength="1" type="text" class="form-control" placeholder="{{'server_name' | translate}}" required>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !serverform.serverurl.$valid}">
      <div class="col-md-2">
        <label class="control-label"><span translate="server_url"></span>: </label>
      </div>
      <div class="col-md-10">
      <input name="serverurl" ng-model="url" type="url" class="form-control" placeholder="{{getPlaceholder()}}" required ng-pattern="getPattern()">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" translate="close_btn" ng-click="reset()">Close</button>
  <button ng-hide="editing" type="button" class="btn btn-primary" ng-disabled="!serverform.$valid" ng-click="addServer({'type': type, 'name': name, 'url': url})" translate="add_btn">Add</button>
  <button ng-show="editing" type="button" class="btn btn-primary" ng-disabled="!serverform.$valid" ng-click="editServer()" translate="save_btn">Save</button>
</div>
