<div class="modal-body unified-search-modal">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6 unified-split-view">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="filter-map loom-map" style="mapStyle" zoom="previewZoom" center="previewCenter" loom-map map-id="unified-layer-map-preview" modal-id="unified-layer-dialog" layers="previewLayers"></div>
                        <div>Zoom to limit the search to data that includes features in the displayed area.  Hover over layers in the list to preview them on the map above.</div>
                    </div>
                </div> <!-- end of map section -->
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Refine layer list <button class="btn btn-link clear-filter" ng-click="clear('all')">Clear All</button></h3>
                    </div>
                </div>

                <div class="row row-filter">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-9 filter-heading">
                                KEYWORD <span loom-helpicon></span>
                            </div>
                            <div class="col-xs-3 text-right">
                                <button class="btn btn-link clear-filter" ng-class="isSet('keyword') ? '' : 'disabled'" ng-click="clear('keyword')">Clear</button>
                            </div>
                        </div>
                        <div class="row"><div class="col-xs-12">
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input ng-model="keyword" ng-keyup="searchOnEnter($event)" type="text" class="form-control">
                                        <span ng-click="search()" class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div></div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-9 filter-heading">
                                DATE CREATED <span loom-helpicon></span>
                            </div>
                            <div class="col-xs-3 text-right">
                                <button class="btn btn-link clear-filter" ng-class="isSet('date') ? '' : 'disabled'" ng-click="clear('date')">Clear</button>
                            </div>
                        </div>
                        <div class="date-container">
                          <rzslider  rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
                          <div class="row">
                            <div class="col-xs-6" ng-bind="sliderValues[slider.minValue]"></div>
                            <div class="col-xs-6 text-right" ng-bind="sliderValues[slider.maxValue]"></div>
                          </div>
                          <!--
                          <div class="year-range">{{ sliderMinValue }}</div>
                          <div class="year-range text-right">{{ sliderMaxValue }}</div>
                          -->
                        </div>
                    </div>
                </div>
                <div class="row row-filter">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-9 filter-heading">
                                OWNER <span loom-helpicon></span>
                            </div>
                            <div class="col-xs-3 text-right">
                                <button class="btn btn-link clear-filter" ng-class="isSet('owner') ? '' : 'disabled'" ng-click="clear('owner')">Clear</button>
                            </div>
                        </div>
                        <div class="filter-list">
                            <span ng-repeat="owner in owners" class="filter-item" ng-click="toggleFilter(owner)">
                                <i ng-hide="owner._checked" class="glyphicon glyphicon-unchecked"></i>
                                <i ng-show="owner._checked" class="glyphicon glyphicon-check"></i>
                                {{ owner.username }}
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-6 category-filter">
                        <div class="row">
                            <div class="col-xs-9 filter-heading">
                                CATEGORY <span loom-helpicon help="http://yahoo.com"></span>
                            </div>
                            <div class="col-xs-3 text-right">
                                <button class="btn btn-link clear-filter" ng-class="isSet('category') ? '' : 'disabled'" ng-click="clear('category')">Clear</button>
                            </div>
                        </div>
                        <div class="filter-list">
                            <span ng-repeat="category in categories" class="filter-item" ng-click="toggleFilter(category)">
                                <i ng-hide="category._checked" class="glyphicon glyphicon-unchecked"></i>
                                <i ng-show="category._checked" class="glyphicon glyphicon-check"></i>
                                {{ category.gn_description }}
                            </span>
                        </div>
                    </div>
                </div>

            </div> <!-- end of filters -->

            <div class="col-md-6 unified-split-view">
                <!-- start of layers list -->
                <div class="layers-count">Showing {{ layers.length }} matching records.</div>
                <div class="layers-list">
                    <div class="search-status" ng-repeat="search in searches | filter:(search.state != 'finished')">
                        {{ search.description }} 
                    </div>
                    <div class="layer" ng-class="isLayerSelected(layer) ? 'selected' : ''" 
                      ng-repeat="layer in layersConfig = getResults()" ng-click="toggleLayer(layer)">
                        <div class="layer-description">
                            <label>{{ layer.Title }}</label><br>
                            {{ layer.Abstract }}
                        </div>
                        <div class="layer-info">
                            <div class="layer-date">{{ layer.layerDate | date:'dd/MM/yyyy'}}</div>
                            <div class="layer-source">{{ layer._origin }}</div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="layers-pager" style="border: solid 1px black">PAGER GOES HERE</div>
                -->
            </div> <!-- end of layer list -->
        </div> <!-- end of the filters / layers list -->


    </div>

</div>
<div class="modal-footer">
    <!-- this is the list of layers to be added -->
    <div class="container-fluid text-left"><!-- text-left is required to offset the standard r-justify footer -->
        <div class="row" style="vertical-align:middle">
            <div class="col-md-7">
                    <h4>{{ getSelectedLayerCount() }} layers will be added to the map:</h4>
            </div>
            <div class="col-md-5 text-right">
                <button class="btn btn-link">Clear</button>
                <button class="btn btn-primary" ng-click="addLayers()">Add Layers</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="selected-layer" ng-repeat="(hashcode, layer) in selectedLayers"><span>{{ layer.Title }}</span><i ng-click="removeLayer(layer)" class="glyphicon glyphicon-remove"></i></div>
            </div>
        </div>
    </div>

</div>
