#layer-list {
  max-height: 300px;
  .list-group-item {
    background-color:@addLayerListColor;
    color: white;
  }
}

#server-list {
  max-height: 200px;
}

.custom-width-100 {
  width: 100%;
}

.custom-width-88 {
  width: 88%;
}

.right-and-center {
  position: relative;
  top: 8px;
  float: right;
}
