#layer-list {
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

#layer-list .list-group-item {
  background-color:#4977A3;
  color: #ffffff;
}

.custom-width-100 {
  width: 100%;
}

.custom-width-88 {
  width: 88%;
}

.server-list {
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
}

.right-and-center {
  position: relative;
  top: 8px;
  float: right;
}
