<div class="modal-body">
  <div ng-show="storyService.active_layer.get('metadata').name">
    <div><h4 translate="server_name"></h4></div>
    <div class="well">
        <input type="text" class="form-control" ng-model="storyService.active_layer.get('metadata').name" />
    </div>
      {{ storyService.active_layer.get('metadata').name }}
  </div>
  <div ng-show="storyService.active_layer.get('metadata').title">
    <div><h4 translate="title"></h4></div>
    <div class="well">
        <input type="text" class="form-control" ng-model="storyService.active_layer.get('metadata').title" />
    </div>
  </div>
  <div ng-show="storyService.active_layer.get('metadata').workspace">
    <div><h4 translate="workspace"></h4></div>
    <div class="well">
        <input type="text" class="form-control" ng-model="storyService.active_layer.get('metadata').workspace" />
    </div>
  </div>
  <div ng-show="storyService.active_layer.get('metadata').featureType">
    <div><h4 translate="featuretype"></h4></div>
    <div class="well">
        <input type="text" class="form-control" ng-model="storyService.active_layer.get('metadata').featureType" />
    </div>
  </div>
  <div ng-show="storyService.active_layer.get('metadata').abstract">
    <div><h4 translate="abstract"></h4></div>
    <div class="well">
        <input type="text" class="form-control" ng-model="storyService.active_layer.get('metadata').abstract" />
    </div>
  </div>
  <div ng-show="storyService.active_layer.get('metadata').keywords">
    <div><h4 translate="keywords"></h4></div>
    <div class="well">
        <input type="text" class="form-control" ng-model="storyService.active_layer.get('metadata').keywords" />
    </div>
  </div>
  <div ng-show="storyService.active_layer.get('metadata').srs">
    <div><h4 translate="srs"></h4></div>
    <div class="well">
        <input type="text" class="form-control" ng-model="storyService.active_layer.get('metadata').srs" />
    </div>
  </div>
  <div ng-show="storyService.active_layer.get('metadata').serverName">
    <div><h4 translate="server"></h4></div>
    <div class="well" contenteditable="true">
        <input type="text" class="form-control" ng-model="storyService.active_layer.get('metadata').serverName" />
    </div>
  </div>
  <div ng-show="storyService.active_layer.get('metadata').serverURL">
    <div><h4 translate="server_url"></h4></div>
    <div class="well">
        <input type="text" class="form-control" ng-model="storyService.active_layer.get('metadata').serverURL" />
    </div>
  </div>
  <div ng-show="storyService.active_layer.get('metadata').repoName">
    <div><h4 translate="repo"></h4></div>
    <div class="well">
        <input type="text" class="form-control" ng-model="storyService.active_layer.get('metadata').repoName" />
    </div>
  </div>
  <div ng-show="storyService.active_layer.get('metadata').branchName">
    <div><h4 translate="branch"></h4></div>
    <div class="well">
        <input type="text" class="form-control" ng-model="storyService.active_layer.get('metadata').branchName" />
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-lg btn-block" ng-click="">Save Layer Metadata</button>
</div>