<div id="layerpanel-group" class="panel-group loom-arrangeable" arrangeable-handle="div.layer-heading"
     arrangeable-item-selector="div.panel" arrangeable-callback="reorderLayer"
     arrangeable-placeholder='<div class="placeholder"></div>'>
  <div class="panel" ng-repeat="layer in layers = map.getLayers().getArray() | reverse">
    <div class="panel-heading layer-heading" data-toggle="collapse"
         data-parent="#layerpanel-group" data-target="#{{layer.get('label')}}">
      <div class="row">
        <div class="layer-title">
          {{layer.get('label')}}
        </div>
        <div>
          <div ng-click="toggleVisibility(layer)" stop-event="click mousedown"
               class="btn btn-xs btn-default layer-visible-button" ng-class="{'layer-visible': layer.get('visible')}">
            <i class="glyphicon"
               ng-class="{'glyphicon-eye-close': !layer.get('visible'), 'glyphicon-eye-open': layer.get('visible')}"></i>
          </div>
          <!--<div stop-event="click mousedown" class="btn btn-xs btn-default">
            <i class="glyphicon glyphicon-pencil"></i>
          </div>-->
        </div>
      </div>
    </div>
    <div id="{{layer.get('label')}}" class="panel-collapse collapse">
      <div class="panel-body">
        <button ng-click="removeLayer(layer)" id="remove-button" class="remove-layer-button btn btn-sm btn-block">
          <i class="glyphicon glyphicon-minus-sign"></i>
          Remove Layer
        </button>
      </div>
    </div>
  </div>
</div>
