<div class="modal-body">
  <div ng-show="name">
    <div><h4 translate="server_name"></h4></div>
    <div class="well">{{name}}</div>
  </div>
  <div ng-show="title">
    <div><h4 translate="title"></h4></div>
    <div class="well">{{title}}</div>
  </div>
  <div ng-show="workspace">
    <div><h4 translate="workspace"></h4></div>
    <div class="well">{{workspace}}</div>
  </div>
  <div ng-show="featureType">
    <div><h4 translate="featuretype"></h4></div>
    <div class="well">{{featureType}}</div>
  </div>
  <div ng-show="abstract">
    <div><h4 translate="abstract"></h4></div>
    <div class="well">{{abstract}}</div>
  </div>
  <div ng-show="keywords">
    <div><h4 translate="keywords"></h4></div>
    <div class="well">{{keywords}}</div>
  </div>
  <div ng-show="srs">
    <div><h4 translate="srs"></h4></div>
    <div class="well">{{srs}}</div>
  </div>
  <div ng-show="serverName">
    <div><h4 translate="server"></h4></div>
    <div class="well">{{serverName}}</div>
  </div>
  <div ng-show="serverURL">
    <div><h4 translate="server_url"></h4></div>
    <div class="well ellipsis">{{serverURL}}</div>
  </div>
  <div ng-show="datastoreType">
    <div><h4 translate="datastoretype"></h4></div>
    <div class="well">{{datastoreType}}</div>
  </div>
  <div ng-show="repoName">
    <div><h4 translate="repo"></h4></div>
    <div class="well">{{repoName}}</div>
  </div>
  <div ng-show="branchName">
    <div><h4 translate="branch"></h4></div>
    <div class="well">{{branchName}}</div>
  </div>
</div>
<div class="modal-footer">
</div>