<div id="layerpanel-group" class="panel-group loom-arrangeable" arrangeable-handle="div.layer-heading"
     arrangeable-item-selector="div.panel" arrangeable-callback="reorderLayer"
     arrangeable-placeholder='<div class="placeholder"></div>'>
  <div class="panel"
       ng-repeat="layer in layers = mapService.map.getLayers().getArray() | reverse | filter:filterHiddenLayers">
    <div class="panel-heading layer-heading" data-toggle="collapse" ng-click="fillAttrList(layer)"
         data-parent="#layerpanel-group" data-target="#{{layer.get('metadata').label}}">
      <div class="row">
        <div class="layer-title ellipsis">
          {{layer.get('metadata').label}}
        </div>
        <div class="layer-buttons">
          <span ng-click="featureManagerService.startFeatureInsert(layer)" tooltip-append-to-body="true"
                tooltip-placement="top" tooltip="{{'add_feature' | translate}}"
                ng-show="layer.get('metadata').editable" stop-event="click mousedown" class="btn btn-xs btn-default"
                ng-class="{'disabled': (!layer.get('visible') || !layer.get('metadata').schema)}">
            <i class="glyphicon glyphicon-pencil"></i>
          </span>
          <span ng-click="toggleVisibility(layer)" stop-event="click mousedown" tooltip-append-to-body="true"
                tooltip-placement="top" tooltip="{{'toggle_visibility' | translate}}"
                class="btn btn-xs btn-default layer-visible-button" ng-class="{'layer-visible': layer.get('visible')}">
            <i class="glyphicon"
               ng-class="{'glyphicon-eye-close': !layer.get('visible'), 'glyphicon-eye-open': layer.get('visible')}"></i>
          </span>
        </div>
      </div>
    </div>
    <div id="{{layer.get('metadata').label}}" class="panel-collapse collapse">
      <div class="panel-body layer-inner-panel">
        <div class="btn-group btn-group-justified">
          <a type="button" ng-click="tableViewService.showTable(layer)" ng-show="layer.get('metadata').editable"
             class="btn btn-xs btn-default">
            <i class="glyphicon glyphicon-list"></i>
            {{'show_table' | translate}}
          </a>
          <a type="button" ng-show="isGeogit(layer)" ng-click="showHistory(layer)"
             class="btn btn-xs btn-default">
            <i class="glyphicon glyphicon-time"></i>
            {{'show_history' | translate}}
          </a>
        </div>
        <!--todo: translate-->
        <div>
          <label id="attribute-label" for="attributeRow" ng-show="layer.get('metadata').editable">Attributes</label>
          <div id="attributeRow" class="row" ng-show="layer.get('metadata').editable">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="attribute in attrList">{{attribute}}</li>
            </ul>
          </div>
        </div>
        <button ng-click="removeLayer(layer)" id="remove-button" class="remove-layer-button btn btn-sm btn-block">
          <i class="glyphicon glyphicon-minus-sign"></i>
          <span translate="remove_layer"></span>
        </button>
      </div>
    </div>
  </div>
</div>
