/* Generic Classes */

html, body {
  -webkit-user-select: none;
  color: @mainFontColor;
  font: @mainFont;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h2 {
  color: #666;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

label {
  cursor: default;
}

a {
  color: #000;
}

textarea {
  resize: vertical;
}

i {
  color: #46443b;
  cursor: pointer;
}

ul {
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
}

.loom-notification-poster {
  left: 325px;
  position: absolute;
}

.panel-body {
  background: #dcdcdc;
  margin: 10px;
  padding: 10px;
}

.has-error .form-control {
  border-color: #b94a48;
}

#add-layer-dialog .modal-dialog {
  width: 80%;
}

#feature-diff-dialog .modal-dialog {
  max-height: 100%;
  overflow: hidden;
}

.panel {
  background: @mainPanelColor;
  border: 0;
  font-weight: 400;
  margin: 0;
}

.close {
  color: gray;
}

.panel-heading, .flat-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown-menu .divider {
  border-bottom: none;
}

.btn-group li {
  border-bottom: none;
  margin: 0;
  text-transform: none;
}

.form-horizontal .control-label {
  float: none;
  font-size: inherit;
  line-height: inherit;
  width: inherit;
}

.well {
  background: darken(@defaultModalPanelColor, 5%);
  border: 1px solid darken(@defaultModalPanelColor, 6%);
  word-wrap: break-word;
}

#pushobj {
  float: right;
  height: 100%;
  width: 80%;
}

/* Menu Styles */

.menu {
  background: #F5F5F5;
  font-size: 1em;
  height: 100%;
  overflow-y: scroll;
  width: 20%;
}

.menuHidden {
  background: #F5F5F5;
  color: #666;
  left: -320px;
  min-height: 100%;
  position: absolute;
  top: 0;
  width: 350px;
  z-index: 1;
}

.menu i {
  color: #999;
  float: right;
  font-size: 15px;
  padding: 3px 10px 0;
}

.menu i:hover {
  color: #666;
}

.menuHidden i {
  float: right;
  font-size: 20px;
  padding-right: 5px;
}

.menu a {
  color: #666;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  outline: 0;
  overflow: hidden;
  padding: 6px;
  text-decoration: none;
}

.menu small {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 0;
}

.menu label {
  color: #666;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 5px;
  max-width: 100%;
}

.menu .topText {
  color: #666;
  display: block;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  margin: 0;
  padding: 10px 10px 5px;
}

.menu .bottomText {
  color: #666;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  padding: 0 10px 5px;
}

/* Menu Item Styles */

.menuItem {
  background: #ddd;
  border-radius: 4px;
  border-top: 1px solid #F5F5F5;
  display: block;
  margin: 10px;
  padding: 6px;
}

.menuItem:hover {
  background: #d5d5d5;
}

#menuButtonGroup {
  margin: 0 5px;
}

/* Composer Buttons */

.btn-composer {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background: #777;
  border: 0;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.428571429;
  margin-bottom: 0;
  padding: 6px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-profile {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background: #f59620;
  border: none;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.428571429;
  margin-bottom: 0;
  padding: 6px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-composer:hover, .btn-composer:focus, .btn-composer:active, .btn-composer.active, .open .dropdown-toggle.btn-composer {
  background: #f59620;
  border-color: #f59620;
  color: #FFF;
}

.btn-storylayer {
  background: #aaa;
  border: 0;
  border-radius: 8px;
  color: #F5F5F5;
  display: inline-block;
  font-size: 10px;
  height: 75px;
  margin: 10px 0 10px 10px;
  text-transform: uppercase;
  width: 42%;
}

.btn-storylayer a {
  border: 0;
  color: #F5F5F5;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-storylayer i {
  color: #FFF;
  font-size: 2.5em;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.btn-storylayer:hover, .btn-storylayer i:hover {
  background: #777;
  color: #F5F5F5;
}

/* Composer Forms */

.form-composer {
  background: #ccc;
  border: none;
  border-radius: 2px;
  color: #666;
  display: block;
  font-size: 12px;
  height: 34px;
  line-height: 1.428571429;
  padding: 6px;
  vertical-align: middle;
  width: 100%;
}

.form-composer:focus {
  background: #999;
  color: #FFF;
  outline: none;
}

/* Hopskotch Styles */

.hopscotch-icon {
  border: none;
  display: inline-block;
  height: 50px;
  margin: 15px;
  position: relative;
  text-align: center;
  width: 50px;
  z-index: 1;
}

div.hopscotch-bubble .hopscotch-bubble-close {
  background: url(http://res.cloudinary.com/dw1zyrzc5/image/upload/v1461961248/sprite-green_tzixrt.png) no-repeat -192px -92px;
}

/* Modal Styles */

.modal .modal-header, .loom-dialog.dialog-warning .modal-header {
  background: #eee;
  border-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #444;
  padding: 15px;
  text-align: center;
}

.loom-dialog.dialog-warning .modal-body, .modal .modal-body, .loom-dialog.dialog-warning .modal-footer {
  background: #fff;
  max-height: 60vh;
  overflow-y: auto;
  padding: 20px 30px;
}

.loom-dialog {
  left: 10%;
  position: absolute;
  top: 90%;
  width: 80%;
}

.modal .modal-footer {
  -webkit-box-shadow: none;
  background: #fff;
  border: none;
  box-shadow: none;
  margin-top: 0;
}

.modal-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.modal-body label {
  display: inline-block;
  font-size: .8em;
  font-weight: 700;
  margin-bottom: 5px;
}

/* Card Styles */

.cards {
  border: 0;
  font-weight: 400;
  margin: 0;
}

.cards-body {
  background: #ddd;
  border: transparent;
  border-radius: 4px;
  height: 350px;
  margin: 25px 15px 15px;
  overflow-y: scroll;
  padding: 15px;
}

.cards-body.h5 {
  overflow: hidden;
}

#mapstory-title {
  color: #666;
  font-size: 1em;
  padding: 0 0 5px;
}

.angular-ui-tree-node, .angular-ui-tree-placeholder {
  margin: 0;
  min-height: 0;
  padding: 0;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 0;
}

/* Welcome Tour Styles */

a#start-tour, a#start-composing, a#resume-draft {
  color: #666;
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
  text-align: center;
}

a#start-tour:hover, a#start-composing:hover, a#resume-draft:hover {
  color: #f59620;
  font-weight: 700;
  text-decoration: none;
}

a.carousel-control {
  display: none;
}

.search-btn {
  background: #666;
  border-color: #666;
}

#welcomeTour .modal-dialog {
  left: 50%;
  padding-bottom: 30px;
  padding-top: 75px;
  right: auto;
  width: 600px;
}

/* Feature Info Box StoryPin Styles */

.feature-info-box-popup {
  background: #F5F5F5;
  border-radius: 4px;
  bottom: 12px;
  color: #666;
  display: block;
  font-size: 10px;
  left: -50px;
  min-width: 180px;
  padding: 0 10px 10px;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.feature-info-box-popup:after {
  border-top-color: #F5F5F5;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.info-box-title {
  color: #666;
  display: inline-block;
  font: bold 13px 'Open Sans', sans-serif;
  padding: 5px 0;
  text-transform: uppercase;
  width: 75%;
  word-wrap: break-word;
}

.info-box-attribute {
  border-bottom: 1px solid #999;
  color: #666;
  display: block;
  font: bold 10px 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
  word-wrap: break-word;
}

.info-box-attribute-value {
  color: #bbb;
  display: block;
  font: normal 12px sans-serif;
  margin: 0;
  padding: 0 0 7px;
  text-align: right;
  text-transform: capitalize;
  white-space: normal;
  word-wrap: break-word;
}

style-editor button {
  font-size: 14px;
  padding: 6px 12px;
}

.style-editor-item {
  background: #ccc;
  border: 0;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 3px;
}

.style-editor-item .title {
  color: #777;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  max-width: 100%;
  padding-left: 5px;
  text-transform: uppercase;
}

.style-editor-item .controls {
  padding-bottom: 3px;
}

.style-editor-item .controls > * {
  margin: 2px;
}

.style-editor-item button {
  padding: 1px 5px;
}

.style-editor-item button, .style-editor-item .controls input {
  background: #eee;
  border: 0;
  border-radius: 4px;
  color: #666;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  height: 30px;
  line-height: 12px;
  margin: 0;
  padding: 2px 10px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.panelContainer .panelRow .loom-feature-panel {
  background: #F5F5F5;
  border: 0;
  display: table-cell;
  padding-top: 5px;
  position: relative;
  vertical-align: top;
  width: 230px;
}

.panelContainer .panelRow .loom-panel-separator {
  background: #F5F5F5;
  border: 0;
  display: table-cell;
  padding-top: 5px;
  width: 32px;
}

.panelContainer .panelRow .loom-feature-panel .info-box-attribute {
  border: 0;
  color: #666;
  height: 15px;
  text-transform: lowercase;
}

.panelContainer .panelRow .loom-panel-separator .attribute-arrow .attribute-arrow-inner {
  background: #aaa;
  border: 0;
  border-radius: 3px;
  padding: 5px 5px 8px;
  top: 18px;
}

.panelContainer .panelRow .loom-panel-separator .arrow-inactive {
  color: #888;
}

.editorForm {
  padding: 10px;
}

.carousel {
  margin: 0 0 10px;
  position: relative;
}

.attribute-cell {
  background: #ddd;
  border-radius: 4px;
  color: #666;
  font-size: .8em;
  margin-bottom: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#composerTopNav {
  background: #777;
  height: 40px;
  padding: 3px 5px;
}

#composerIconNav {
  background: #ccc;
  display: block;
  height: 40px;
  padding: 5px;
}

#composerIconNav i {
  color: #888;
  float: left;
  font-size: 18px;
  padding: 5px;
  text-align: center;
  width: 16%;
}

#composerIconNav i:hover {
  background: #ddd;
  border-radius: 4px;
  color: #333;
}

.help-block {
  color: #737373;
  display: block;
  font-size: .6em;
  margin-bottom: 10px;
  margin-top: 5px;
  padding-left: 10px;
}

#chapterSummary {
  height: 20em;
}

/* Table Styles */

#table-view-window .panel {
  background: #F5F5F5;
  height: 100%;
  max-width: 100%;
  overflow: auto;
}

.table-striped > thead > tr > th {
  border-bottom: 2px solid #ddd;
  font-size: .8em;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
}

.table-striped > tbody > tr > td, .table-striped > thead > tr > th {
  border-left: 1px dotted #ddd;
  font-size: .7em;
  max-width: 200px;
  overflow: hidden;
  padding: 3px 10px;
  text-overflow: ellipsis;
}

.table-striped > tbody > tr > td {
  border-top: 1px solid #ddd;
  color: #666;
  font-size: .8em;
}

.selectedRow > td {
  background: #f59620 !important;
  color: #F5F5F5;
}

#add-box-dialog .modal-dialog, #add-pin-dialog .modal-dialog {
  width: 414px;
}

#layerInfoDialog .modal-dialog, #attribute-edit-dialog .modal-dialog {
  width: 450px;
}

.panel-group .panel-heading + .panel-collapse .panel-body, hr {
  border-top: 1px solid darken(@mainPanelColor, 5%);
}

.flat, .btn-group li a {
  border-radius: 0;
}

#layer-panel a.accordion-toggle, #sidebarDropdown {
  display: inline-block;
}

.menuHidden #composerIconNav, #welcomeTour .close, #mapProperties .close {
  display: none;
}

.panelContainer .panelRow .loom-feature-panel input.attr-none, .panelContainer .panelRow .loom-feature-panel .attr-none input {
  background: #aaa;
  border: 0;
  cursor: auto;
  width: 98%;
}

.panelContainer .panelRow .loom-feature-panel .attr-added input, .panelContainer .panelRow .loom-feature-panel input.attr-added {
  background: #ccc;
  border: 0;
  color: #2E8B57;
}

.panelContainer .panelRow .loom-feature-panel .attr-removed input, .panelContainer .panelRow .loom-feature-panel input.attr-removed {
  background: #ccc;
  border: 0;
  color: #CD5C5C;
}