.table-striped > tbody > tr > td, .table-striped > thead > tr > th{
  padding: 20px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-striped > thead > tr > th{
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}
.table-striped > tbody > tr > td {
  border-top: 1px solid #ddd;
}

.table-btn {
  margin-top: 10px;
}

#table-view-window .table-striped {
  white-space: nowrap;
}

#table-view-window .modal-dialog {
  width: 90%;
  height: 100%;
}
#table-view-window .modal-content {
  height: 100%;
}
#table-view {
  height: 100%;
}
#table-view-window .modal-body {
  height: 100%;
  overflow: auto;
}
#table-view-window .panel {
  overflow: auto;
  max-width: 100%;
  height: 100%;
  background-color: #ffffff;
}

#filter-text {
  margin-bottom: 10px;
  margin-top: 10px;
}
#filter-button {
  padding-left: 10px;
}
#table-filter-group {
  width: 300px;
}

#table-datetime {
  width: 250px;
  height: 34px;
}
#table-datetime .form-group {
  margin-bottom: 0px;
}

.selectedRow {
  background-color: darkorange !important;
}
.selectedRow > td {
  background-color: darkorange !important;
}

