<div id="loading" class="hidden">
  <div class="loading">
    <!-- We make this div spin -->
    <div class="spinner">
      <!-- Mask of the quarter of circle -->
      <div class="mask">
        <!-- Inner masked circle -->
        <div class="maskedCircle"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal-body">
  <form name="syncform" class="form-horizontal">
    <div class="form-group" ng-class="{'has-error': !syncform.syncname.$valid}">
      <div class="col-md-2">
        <label>{{'server_name' | translate}}: </label>
      </div>
      <div class="col-md-10">
        <input name="syncname" ng-minlength="1" ng-model="name" type="text" class="form-control" placeholder="{{'server_name' | translate}}" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
        <label>{{'repo' | translate}}: </label>
      </div>
      <div class="col-md-5">
        <select class="form-control" ng-model="selectedRepo" required ng-options="repo.name for repo in geogigService.adminRepos | filter:{unique:'true'}">
        </select>
      </div>
      <div class="col-md-5">
        <select class="form-control" ng-show="selectedRepo" ng-model="localBranch" required ng-options="branch for branch in geogigService.getRepoById(selectedRepo.id).branches">
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
        <label>{{'remote' | translate}}: </label>
      </div>
      <div class="col-md-5">
        <select class="form-control" ng-show="selectedRepo" ng-model="selectedRemote" required ng-options="remote.name for remote in geogigService.getRepoById(selectedRepo.id).remotes">
        </select>
      </div>
      <div class="col-md-5">
        <select class="form-control" ng-show="selectedRemote" ng-model="remoteBranch" required ng-options="branch for branch in geogigService.getRepoById(selectedRepo.id).remotes[selectedRemote.id].branches">
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" translate="close_btn" ng-click="dismiss()">Close</button>
  <button type="button" class="btn btn-primary"
          ng-click="createLink(name, selectedRepo, selectedRemote, localBranch, remoteBranch)"
          ng-disabled="!syncform.$valid" translate="add_btn">Add</button>
</div>
