<div class="row" id="SyncRow">
  <ul id="SyncList" class="list-group col-md-12">
    <li id="buttonRow" class="list-group-item col-md-12">
      <div class="btn-group btn-group-justified">
        <a id="AddSyncButton" class="btn sync-list-button" data-target="#addSyncWindow"
           data-toggle="modal">
          <i class="glyphicon glyphicon-plus-sign"></i>
          <span translate="add_sync">Add Sync</span>
        </a>
        <a id="MergeButton" class="btn sync-list-button" data-target="#mergeWindow"
           data-toggle="modal">
          <i class="glyphicon glyphicon-resize-small"></i>
          <span translate="merge">Merge</span>
        </a>
      </div>
    </li>
    <li ng-repeat="link in syncService.getLinks()" class="list-group-item" ng-controller="modalToggle"
        ng-click="syncService.loadLink($index)">
      <div class="row">
        <div class="col-md-8 ellipsis">{{link.name}}</div>
        <div class="col-md-4">
          <div class="btn-group pull-left" stop-event="click">
            <button ng-click="singleSync(link)" ng-disabled="link.continuous" data-toggle="button" class="btn btn-xs btn-default">
              <span class="loom-loading" spinner-radius="16" spinner-hidden="!link.singleSync"></span>
              <i class="glyphicon glyphicon-sort"></i>
            </button>
            <div ng-click="syncService.toggleAutoSync(link)" stop-event="click mousedown"
                 class="btn btn-xs btn-default" ng-class="{'sync-on': link.continuous}">
              <i class="glyphicon glyphicon-retweet"></i>
            </div>
            <!--<button type="button" class="btn btn-xs btn-default dropdown-toggle" ng-disabled="link.isSyncing" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-header">{{'synchronize' | translate}}</li>
              <li>
                <a ng-click="link.setContinuous(false)">
                  <i ng-hide="link.continuous" class="glyphicon glyphicon-check pull-right"></i>
                  <span translate="single">Single</span>
                </a>
              </li>
              <li>
                <a ng-click="link.setContinuous(true)">
                  <i ng-show="link.continuous" class="glyphicon glyphicon-check pull-right"></i>
                  <span translate="continuous">Continuous</span>
                </a>
              </li>
            </ul>-->
          </div>
          <i ng-class="{'remote-up': link.getIsActive()}" class="glyphicon glyphicon-certificate remote pull-right"></i>
        </div>
      </div>
    </li>
  </ul>
</div>