<div id="remote-loading" class="loom-loading" spinner-width="6" spinner-radius="40" spinner-hidden="!saving"></div>
<div class="modal-body">
  <form name="remoteform" class="form-horizontal">
    <div class="form-group">
      <div class="col-md-2">
        <label class="control-label"><span translate="repo"></span>: </label>
      </div>
      <div class="col-md-10">
        <select class="form-control" ng-model="remoteService.selectedRepo" required ng-options="repo.name for repo in geogitService.adminRepos" ng-disabled="remoteService.editing">
        </select>
      </div>
    </div>
    <div class="form-group" ng-show="remoteService.selectedRepo">
      <div class="col-md-2">
        <label class="control-label"><span translate="remote"></span>: </label>
      </div>
      <div class="col-md-5">
        <div class="btn-group custom-width-100">
          <button type="button" class="btn btn-default dropdown-toggle custom-width-100" data-toggle="dropdown" ng-disabled="remoteService.editing">
            <span class="pull-left"> {{remoteService.selectedText}} </span>
            <span class="caret right-and-center"></span>
          </button>
          <ul class="dropdown-menu server-list col-md-12">
            <li ng-repeat="remote in remoteService.selectedRepo.remotes"><a ng-click="remoteService.selectRemote(remote)">{{remote.name}}</a></li>
            <li class="divider"></li>
            <li><a ng-click="remoteService.selectRemote(null)" translate="new_remote">New Remote</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="form-group" ng-show="remoteService.selectedRepo" ng-class="{'has-error': !remoteform.remotename.$valid}">
      <div class="col-md-2">
        <label class="control-label"><span translate="remote_name"></span>: </label>
      </div>
      <div class="col-md-10">
        <input id="remote-name" name="remotename" ng-model="remoteService.remoteName" ng-minlength="1" type="text" class="form-control" placeholder="{{'remote_name' | translate}}" required  ng-disabled="!remoteService.editing && remoteService.selectedRemote">
      </div>
    </div>
    <div class="form-group" ng-show="remoteService.selectedRepo" ng-class="{'has-error': !remoteform.remoteurl.$valid}">
      <div class="col-md-2">
        <label class="control-label"><span translate="repo_url"></span>: </label>
      </div>
      <div class="col-md-10">
        <input name="remoteurl" ng-model="remoteService.remoteURL" type="url" class="form-control" placeholder="http://url/geoserver/geogit/workspace:datastore" required ng-disabled="!remoteService.editing && remoteService.selectedRemote">
      </div>
    </div>
    <div class="form-group" ng-show="remoteService.selectedRepo">
      <div class="col-md-2">
        <label class="control-label"><span translate="repo_username"></span>: </label>
      </div>
      <div class="col-md-4">
        <input id="remoteUsername" type="text" ng-model="remoteService.remoteUsername" class="form-control" placeholder="{{'repo_username' | translate}}" ng-disabled="!remoteService.editing && remoteService.selectedRemote">
      </div>
      <div class="col-md-2">
        <label class="control-label"><span translate="repo_password"></span>: </label>
      </div>
      <div class="col-md-4">
        <input id="remotePassword" type="password" ng-model="remoteService.remotePassword" class="form-control" placeholder="{{'repo_password' | translate}}" ng-disabled="!remoteService.editing && remoteService.selectedRemote">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" ng-show="remoteService.selectedRemote && !remoteService.editing" class="btn btn-default" ng-click="remoteService.startEditing()" translate="edit_btn">
    Edit
  </button>
  <button type="button" ng-show="remoteService.selectedRemote && !remoteService.editing" class="btn btn-danger" ng-click="remoteService.removeRemote()"
          translate="remove_btn">Remove
  </button>
  <button type="button" class="btn btn-default" ng-show="remoteService.editing || !remoteService.selectedRemote" ng-disabled="!remoteform.$valid" translate="save_btn" ng-click="finish(true)">Save</button>
  <button type="button" class="btn btn-default" ng-show="remoteService.editing" ng-click="finish(false)" translate="cancel_btn">Cancel</button>
</div>
