<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">


<html ng-app="sideBarApp">
<head>
    <title>MapStory Composer</title>
</head>
<body>
<div ng-controller="sideBarController" id="menu">
    <nav>
        <div id="mainMenu">
            <h2 ng-show="menuSection=='mainMenu'"><i class="fa fa-reorder"></i>{{ mapstories.name }}</h2>

            <div class="form-group" ng-show="menuSection=='mainMenu'">
                <button class="btn btn-default btn-md" data-target="#mapProperties" data-toggle="modal">Summary
                </button>
                <button class="btn btn-default btn-md" data-target="#mapSave" data-toggle="modal">Save MapStory...
                </button>
                <button class="btn btn-default btn-md" data-target="mapPreview" data-toggle="modal">Preview</button>
            </div>

            <div ng-repeat="chapter in mapstories.chapters">
                <div id="chaptersList" ng-show="menuSection=='mainMenu'">
                    <a href="#"><h2 ng-click="updateMenuSection('selectedChapter' + chapter.id)">
                        <i class="fa fa-plus-square-o"></i>{{ chapter.chapter }}</h2>
                    </a>
                </div>

                <div id="selectedChapter" ng-show="menuSection=='selectedChapter' + chapter.id">
                    <h2 ng-click="">{{ chapter.chapter }}</h2>
                    <h2 ng-click="">{{ chapter.title }}</h2>
                    <a href="#"><h2 ng-click="updateMenuSection('mainMenu')">Back to Chapters List</h2></a>
                    <a href="#"><h2 ng-click="updateMenuSection('chapterInfo' + chapter.id)">Chapter Info</h2></a>
                    <a href="#"><h2 ng-click="updateMenuSection('storyLayers' + chapter.id)">StoryLayers</h2></a>
                    <a href="#"><h2 ng-click="updateMenuSection('storyBoxes' + chapter.id)">StoryBoxes</h2></a>
                    <a href="#"><h2 ng-click="updateMenuSection('storyPins' + chapter.id)">StoryPins</h2></a>
                    <a href="#"><h2 ng-click="">Delete this Chapter</h2></a>
                </div>

                <div id="chapterInfo" ng-show="menuSection=='chapterInfo'+ chapter.id">
                    <h2><i class="fa fa-info-circle"></i>Chapter Info</h2>
                    <h2 id="chapterInfoBackButton" ng-click="updateMenuSection('selectedChapter' + chapter.id)"><a
                            href="#"
                            id="chapterInfoBackButton">Back</a>
                    </h2>
                    <a href="#">Chapter Title</a>
                    <input ng-model="chapter.title" class="form-control" type="text" name="chapterTitle"
                           id="chapterTitle"/>

                    <a href="#">Chapter Summary</a>
                    <textarea ng-model="chapter.summary" class="form-control" name="chapterSummary"
                              id="chapterSummary"></textarea>

                    <button data-target="#mapSave" data-toggle="modal" type="button"
                            class="btn btn-default btn-lg center-block">Save Chapter Info
                    </button>
                </div>
                <div id="storyLayers" ng-show="menuSection=='storyLayers' + chapter.id">
                    <h2>{{ chapter.chapter }}</h2>
                    <h2>{{ chapter.title }}</h2>
                    <a href="#"><h2 ng-click="updateMenuSection('selectedChapter' + chapter.id)">Back</h2></a>
                    <a href="#"><h2 ng-click="updateMenuSection('addStoryLayer' + chapter.id)">Add a New
                        StoryLayer...</h2>
                    </a>
                    <div ng-repeat="storyLayer in chapter.storyLayers">
                        <a href="#"><h2 ng-click="updateMenuSection('editStoryLayer' + chapter.id + storyLayers.id)">{{
                            storyLayer.title }}</h2></a>
                    </div>
                </div>
                <div id="editStoryLayer" ng-show="menuSection=='editStoryLayer' + chapter.id + storyLayers.id">
                    <h2>{{ chapter.chapter }}</h2>
                    <h2>{{ chapter.title }}</h2>
                    <h2>{{ chapter.storyLayers.title }}</h2>
                    <a href="#"><h2 ng-click="updateMenuSection('storyLayers' + chapter.id)">Back</h2></a>
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active"><a data-toggle="tab" href="#style">Style</a>
                        <li><a data-toggle="tab" href="#edit">Edit</a></li>
                        <li><a data-toggle="tab" href="#infobox">Infobox</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="style" class="tab-pane fade in active">
                            <p>Carousel</p>
                            <hr>
                            <select class="form-control">
                                <option>Color</option>
                                <option>Red</option>
                                <option>Green</option>
                                <option>Blue</option>
                            </select>
                            <select class="form-control">
                                <option>Symbol Size</option>
                            </select>
                            <select class="form-control">
                                <option>Symbol Style</option>
                            </select>
                            <select class="form-control">
                                <option>Classification</option>
                            </select>
                            <hr>
                            <button class="btn btn-default btn-lg btn-block">Delete this
                                StoryLayer
                            </button>

                            <hr>
                        </div>
                        <div id="edit" class="tab-pane fade">
                            <button class="btn btn-default btn-lg btn-block">Start Editing</button>
                            <button class="btn btn-default btn-lg btn-block">View Attribute Table
                            </button>
                            <button class="btn btn-default btn-lg btn-block">View History</button>
                            <button class="btn btn-default btn-lg btn-block">Delete This
                                StoryLayer
                            </button>
                        </div>
                        <div id="infobox" class="tab-pane fade">
                            <div class="form-group">
                                <label for="layerAlias">Layer Alias</label>
                                <textarea class="form-control" id="layerAlias" rows="2"></textarea>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="customizeInfoBox">Customize Info Box</label>
                                <table class="table table-striped table-bordered"
                                       id="customizeInfoBox">
                                    <tr>
                                        <th class="text-center">Attr</th>
                                        <th class="text-center">Mask</th>
                                        <th class="text-center">Show?</th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <hr>
                            <button class="btn btn-default btn-lg btn-block">Save Settings</button>
                            <button class="btn btn-default btn-lg btn-block">Delete this
                                StoryLayer
                            </button>
                        </div>
                    </div>
                </div>
                <div id="storyBoxes" ng-show="menuSection=='storyBoxes' + chapter.id">
                    <h2>{{ chapter.chapter }}</h2>
                    <h2>{{ chapter.title }}</h2>
                    <a href="#"><h2 ng-click="updateMenuSection('selectedChapter' + chapter.id)">Back</h2></a>
                    <a href="#"><h2 ng-click="updateMenuSection('addStoryBox' + chapter.id)">Add a New
                        StoryBox...</h2>
                    </a>
                    <div ng-repeat="storyBox in chapter.storyLayers">
                        <a href="#"><h2 ng-click="updateMenuSection('editStoryBox' + chapter.id + storyLayers.id)">{{
                            storyBox.title }}</h2></a>
                    </div>
                </div>
                <div id="addStoryBox" ng-show="menuSection=='addStoryBox' + chapter.id">
                    <h2>{{ chapter.chapter }}</h2>
                    <h2>{{ chapter.title }}</h2>
                    <h2>Add a New StoryBox</h2>
                    <a href="#"><h2 ng-click="updateMenuSection('selectedChapter' + chapter.id)">Back</h2></a>
                    <h2>Map Extents</h2>
                    <div class="form-group">
                        <label for="updateMapBounds">Pan and zoom on the map to set the map
                            sounds.</label>
                        <button class="btn btn-default btn-block" id="updateMapBounds">Update Map
                            Bounds
                        </button>
                    </div>
                    <h2>Time Frame</h2>
                    <hr>
                    <div class="form-group">
                        <label for="startTime">Start Time</label>
                        <input class="form-control" type="datetime" id="startTime"/>
                    </div>
                    <div class="form-group">
                        <label for="endTime">End Time</label>
                        <input class="form-control" type="datetime" id="endTime">
                    </div>
                    <button class="btn btn-default btn-block">Save StoryBox</button>
                </div>
                <div id="editStoryBox" ng-show="menuSection=='editStoryBox' + chapter.id + storyLayers.id">
                    <h2>Map Extents</h2>
                    <div class="form-group">
                        <label for="updateMapBounds">Pan and zoom on the map to set the map
                            sounds.</label>
                        <button class="btn btn-default btn-block" id="updateMapBounds">Update Map
                            Bounds
                        </button>
                    </div>
                    <h2>Time Frame</h2>
                    <hr>
                    <div class="form-group">
                        <label for="startTime">Start Time</label>
                        <input class="form-control" type="datetime" id="startTime"/>
                    </div>
                    <div class="form-group">
                        <label for="endTime">End Time</label>
                        <input class="form-control" type="datetime" id="endTime">
                    </div>
                    <button class="btn btn-default btn-block">Save StoryBox</button>
                </div>
                <div id="storyPins" ng-show="menuSection=='storyPins' + chapter.id">
                    <h2>{{ chapter.chapter }}</h2>
                    <h2>{{ chapter.title }}</h2>
                    <a href="#"><h2 ng-click="updateMenuSection('selectedChapter' + chapter.id)">Back</h2></a>
                    <a href="#"><h2 ng-click="updateMenuSection('addStoryPin' + chapter.id)">Add a New
                        StoryPin...</h2>
                    </a>
                    <div ng-repeat="storyPin in chapter.storyPins">
                        <a href="#"><h2 ng-click="updateMenuSection('editStoryBox' + chapter.id + storyPins.id)">{{
                            storyPin.title }}</h2></a>
                    </div>
                </div>
                <div id="addStoryPin" ng-show="menuSection=='addStoryPin' + chapter.id + storyPins.id">
                    <a href="#">Add a New StoryPin...</a>
                    <h2>Add a New StoryPin</h2>

                    <div class="form-group">
                        <label for="storyPinTitle">StoryPin Title</label>
                        <input type="text" class="form-control" id="storyPinTitle"/>
                    </div>


                    <div class="form-group">
                        <label for="storyPinContent">StoryPin Content</label>
                        <textarea class="form-control" id="storyPinContent"></textarea>
                        <button class="btn btn-default btn-block" id="linkMedia">Link Media...
                        </button>
                    </div>


                    <div class="form-group">
                        <label for="storyPinLocation">Pin Location</label>
                        <p>Drop pin on the map to set pin location.</p>
                        <button class="btn btn-default btn-block" id="savePinLocation">Save Pin
                            Location
                        </button>
                    </div>


                    <div class="form-group">
                        <label for="storyPinTime">Time</label>
                        <input type="datetime" class="form-control" id="storyPinTime"/>
                    </div>

                    <button class="btn btn-default btn-block" id="saveStoryPin">Save StoryPin
                    </button>
                </div>
                <div id="editStoryPin" ng-show="menuSection=='editStoryPin' + chapter.id + storyPins.id">
                    <h2>StoryPin 1</h2>


                    <div class="form-group">
                        <label for="storyPinTitle">StoryPin Title</label>
                        <input type="text" class="form-control" id="storyPinTitle"/>
                    </div>


                    <div class="form-group">
                        <label for="storyPinContent">StoryPin Content</label>
                        <textarea class="form-control" id="storyPinContent"></textarea>
                        <button class="btn btn-default btn-block" id="linkMedia">Link Media...
                        </button>
                    </div>


                    <div class="form-group">
                        <label for="storyPinLocation">Pin Location</label>
                        <p>Drop pin on the map to set pin location.</p>
                        <button class="btn btn-default btn-block" id="savePinLocation">Save Pin
                            Location
                        </button>
                    </div>


                    <div class="form-group">
                        <label for="storyPinTime">Time</label>
                        <input type="datetime" class="form-control" id="storyPinTime"/>
                    </div>

                    <button class="btn btn-default btn-block" id="saveStoryPin">Save StoryPin
                    </button>
                </div>
            </div>
            <div id="addChapter" ng-show="menuSection=='mainMenu'">
                <a id="addchapter" ng-click="addChapter();"><h2>Add a new chapter</h2></a>
            </div>
            <div id="getSkills" ng-show="menuSection=='mainMenu'">
                <a href="/getskills" target="_blank"><h2>Help</h2></a>
            </div>
        </div>
    </nav>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/umd/tab.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/sidebarcontroller.js"></script>
</body>
</html>
