.layer-row {
  margin-right: 0px;
}

.layer-heading {
  background-color: #4977A3 !important;
  padding: 5px 15px;
}

.layer-title {
  color: #fff !important;
  text-decoration: none !important;
  width: 87%;
  float: left;
  padding-left: 15px;
}

.layer-visible-button.layer-visible {
  background-color: #155481;
  color: #fff;
}

#layerpanel-group .placeholder {
  height: 33px;
}

.remove-layer-button {
  background-color: #b7b2b2;
  color: #000000;
}