.layer-row {
  margin-right: 0;
}

.layer-heading {
  background-color: @layerHeaderColor !important;
  padding: 5px 15px;
}

.layer-title {
  color: @layerHeaderFontColor !important;
  text-decoration: none !important;
  width: 87%;
  float: left;
  padding-left: 15px;
}

.layer-visible-button.layer-visible {
  background-color: @layerVisibleColor;
  color: @layerVisibleImageColor;
}

#layerpanel-group .placeholder {
  height: 33px;
}

.remove-layer-button {
  background-color: @removeLayerColor;
  color: @removeLayerFontColor;
}