#notification-content .panel-heading {
	color: #fff;
	background-color: #155481;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #80a0b0;
}

.close-notification {
    position:absolute;
    right:-15px;
    font-size:18px;
}