<div class="timeline-background2" ng-show="timelineServiceEnabled">
    <div style="margin: auto; text-align: center; ">
        <a type="button" ng-click="onPlay()" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Play"
           class="btn btn-sm btn-default" ng-if="!isPlaying()">
            <i class="glyphicon glyphicon-play"></i>
        </a>
        <a type="button" ng-click="onPause()" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Pause"
           class="btn btn-sm btn-default" ng-if="isPlaying()">
            <i class="glyphicon glyphicon-pause"></i>
        </a>
        <input class="timeline-slider" type="range" min="0" max="100" step="1" list="timesliderTickDataList" ng-model="timeCurrentPercent" data-trigger="manual focus" data-toggle="popover" data-placement="top" data-animation="false">
        <!-- Will populate dynamically -->
        <datalist id="timesliderTickDataList">
        </datalist>
        <div class="btn-group">
            <a type="button" ng-class="{'active': getRepeat()}" ng-click="setRepeat(!getRepeat())" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Repeat"
               class="btn btn-sm btn-default">
                <i class="glyphicon glyphicon-repeat"></i>
            </a>
            <a type="button" ng-click="onPrevTick()" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Step Backward"
               class="btn btn-sm btn-default">
                <i class="glyphicon glyphicon-step-backward"></i>
            </a>
            <a type="button" ng-click="onNextTick()" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Step Forward"
               class="btn btn-sm btn-default">
                <i class="glyphicon glyphicon-step-forward"></i>
            </a>
        </div>
    </div>
</div>