<div class="modal-body">
  <div class="panel-body">
      <h4>Summary Statistics for {{data.fieldname}}.</h4>

      <!--<div loom-statistics-bar-graph bar-height="20" bar-padding="5" margin="300" data="{{data.barData}}"></div>-->
      <div class="btn-group-wrap pull-left" id="statistics-btns">
        <div class="btn-group">
          <a type="button" ng-click="selectChart('histogram')" tooltip-append-to-body="true" ng-if="fieldTypeSupportsHistogram(data.statistics.type)"
             tooltip-placement="top" tooltip="{{'view_histogram' | translate}}"
             class="btn btn-sm btn-default" ng-class="{disabled: isSelected('histogram')}">
            <i class="glyphicon glyphicon-stats"></i>
          </a>
          <a type="button" ng-click="selectChart('pie')"
             class="btn btn-sm btn-default" tooltip-append-to-body="true" ng-if="fieldTypeSupportsHistogram(data.statistics.type)"
             tooltip-placement="top" tooltip="{{'show_pie_chart' | translate}}" ng-class="{disabled: isSelected('pie')}">
            <i class="glyphicon glyphicon-adjust"></i>
          </a>
          <a type="button" ng-click="selectChart('date_heatmap')"
             class="btn btn-sm btn-default" tooltip-append-to-body="true" ng-if="fieldTypeSupportsDateHeatMap(data.statistics.type)"
             tooltip-placement="top" tooltip="{{'show_date_heatmap' | translate}}" ng-class="{disabled: isSelected('date_heatmap')}">
        <i class="glyphicon glyphicon-calendar"></i>
        </a>
        </div>
      </div>
      <hr/>

      <ul id="statistics-hud-bar">
        <li class="table-center statistics-hud-group">
          <div class="statistics-title">{{'mean' | translate}}</div>
          <div class="statistics-value">{{data.statistics.mean}}</div>
        </li>
        <li class="table-center statistics-hud-group">
          <div class="statistics-title">{{'maximum' | translate}}</div>
          <div class="statistics-value">{{data.statistics.max}}</div>
        </li>
        <li class="table-center statistics-hud-group">
          <div class="statistics-title">{{'minimum' | translate}}</div>
          <div class="statistics-value">{{data.statistics.min}}</div>
        </li>
        <li class="table-center statistics-hud-group">
          <div class="statistics-title">{{'sum' | translate}}</div>
          <div class="statistics-value">{{data.statistics.sum}}</div>
        </li>
        <li class="table-center statistics-hud-group">
          <div class="statistics-title">{{'range' | translate}}</div>
          <div class="statistics-value">{{data.statistics.range}}</div>
        </li>
        <li class="table-center statistics-hud-group">
          <div class="statistics-title">{{'standard deviation' | translate}}</div>
          <div class="statistics-value">{{data.statistics.stdDev}}</div>
        </li>
        <li class="table-center statistics-hud-group">
          <div class="statistics-title">{{'coefficient' | translate}}</div>
          <div class="statistics-value">{{data.statistics.coefficient}}</div>
        </li>
        <li class="table-center statistics-hud-group">
          <div class="statistics-title">count</div>
          <div class="statistics-value">{{data.statistics.totalCount}}</div>
        </li>
      </ul>

      <div id="statistics-chart-area">
        <div id="loom-statistics-legend"></div>
        <div loom-statistics-chart id="loom-statistics-chart"></div>
      </div>

  </div>
</div>
