<div class="modal-body">
    <form class="form-horizontal col-md-12">
        <div class="form-group">

            <div class="form-group">
                <label for="mapAbstract">Summary</label><textarea id="mapAbstract" ng-model="mapService.abstract" class="form-control" rows="4" value="{{mapService.abstract}}" placeholder="Summary"></textarea>
            </div>

        </div>
    </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal">{{'save_btn' | translate}}</button>
</div>


