<div class="modal-body">
    <form class="form-horizontal col-md-12" name="summaryForm">
        <div class="form-group">
            <div class="form-group">
                <label for="mapTitle">{{ 'title' | translate }} <span ng-if="summaryForm.$invalid">(Required)</span></label> <input id="mapTitle" ng-model="storyService.title" type="text" class="form-control" value="{{storyService.title}}" ng-required="true">
            </div>
            <div class="form-group">
                <label for="mapAbstract">Summary</label><textarea id="mapAbstract" ng-model="storyService.abstract" class="form-control" rows="4" value="{{storyService.abstract}}"></textarea>
            </div>
            <div class="form-group">
                <label for="id_category">
                    Category
                </label>
                <div class="">
                    <select class="form-control" id="id_category" name="category" ng-model="storyService.category" ng-options="category.id as category.gn_description for category in categories">
                        <option value="">---------</option>
                    </select>
                    <p class="help-block">high-level geographic data thematic classification to assist in the grouping and search of available geographic data sets.</p>
                </div>
            </div>
            <div class="form-group">
                <label for="mapKeywords">Tags</label><textarea id="mapKeywords" ng-model="storyService.keywords" class="form-control" value="{{storyService.keywords}}"></textarea>
                <p class="help-block">commonly used word(s) or formalised word(s) or phrase(s) used to describe the subject (space or comma-separated).</p>
            </div>
            <div class="form-group">
                <label for="mapRegions">Location</label>
                <select class="form-control" id="mapRegions" name = "location" ng-model="storyService.regions">
                        <option ng-repeat="location in locations">{{ location.name }}</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <p class="text-center">Once you hit save, you can return to this draft Story on your Profile and continue working on it later, until you're ready to publish it.</p>
  <button type="button" class="btn btn-primary" ng-disabled="summaryForm.$invalid" ng-click="storyService.save()" data-dismiss="modal">{{'save_btn' | translate}}</button>
</div>


