<div class="modal-footer">
    <p class="text-center">Great work! Once you hit publish everyone will be able to search for your story. Don't worry, after you publish your story you can make changes to it anytime and publish an updated version. You can always delete it too.</p>
    <button type="button" class="btn btn-default center-block" data-dismiss="modal">{{'close_btn' | translate }}</button>
    <!-- If they pick publish, set the published model to true? -->
  <button type="button" class="btn btn-primary center-block" data-dismiss="modal" ng-disabled="!configService.username"
          ng-click="storyService.is_published = true; storyService.save();">Publish</button>
</div>


