<div class="modal-body">
  <div id="merge-loading" class="loom-loading" spinner-width="6" spinner-radius="40" spinner-hidden="!merging"></div>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-md-4">
        <select class="form-control" ng-model="selectedRepoId">
          <option ng-repeat="repo in geogitService.repos | filter:{unique:'true'}" value="{{repo.id}}" ng-selected="">{{repo.name}}</option>
        </select>
      </div>
      <div class="col-md-3" ng-hide="!selectedRepoId">
        <select class="form-control" ng-model="sourceBranch" ng-options="branch for branch in geogitService.getRepoById(selectedRepoId).branches">
        </select>
      </div>
      <div class="col-md-2" ng-hide="!selectedRepoId">
        <p class="form-control-static text-center" translate="into">into</p>
      </div>
      <div class="col-md-3" ng-hide="!selectedRepoId">
        <select class="form-control" ng-model="destinationBranch" ng-options="branch for branch in geogitService.getRepoById(selectedRepoId).branches | filter:listFilter(sourceBranch)">
        </select>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" translate="cancel_btn">Cancel</button>
    <button type="button" class="btn btn-primary" ng-disabled="!mergePossible()"
      ng-click="onMerge()" translate="merge">Merge</button>
  </div>
</div>
