<% if (!(typeof django === 'undefined') && (django)) { %>
{% load staticfiles i18n avatar_tags maploom_tags %}
<% } %>

<!DOCTYPE html>
<html ng-app="MapLoom" ng-controller="AppCtrl">
<head>

<title ng-bind="pageTitle"></title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE-Edge">

<!-- Now including all the sidebar stuff -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script type="text/javascript" src="http://oss.maxcdn.com/libs/modernizr/2.6.2/modernizr.min.js"></script>

<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <% if (!(typeof django === 'undefined') && (django)) { %>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}maploom/<%= file %>"/>
    <% }else{ %>
        <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% } %>

<% }); %>
<link rel="stylesheet" type="text/css" href="http://visjs.org/dist/vis.css"/>
    <!--link rel="stylesheet" type="text/css" href="/static/mapstory/css/app.css"/-->

<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <% if (!(typeof django === 'undefined') && (django)) { %>
        <script type="text/javascript" src="{{STATIC_URL}}maploom/<%= file %>"></script>
    <% }else{ %>
        <script type="text/javascript" src="<%= file %>"></script>
    <% } %>
<% }); %>

<% if (!(typeof django === 'undefined') && (django)) { %>
    {% get_current_language as language%}
<script type="text/javascript">
    config =  {
        authStatus: {% if user.is_authenticated %} 200{% else %} 401{% endif %},
        username: {% if user.is_authenticated %} "{{ user.username }}" {% else %} undefined {% endif %},
        currentLanguage: "{{language|default:'en'}}",
        userprofilename: {% if user.is_authenticated %} "{{ user.get_full_name }}" {% else %} undefined {% endif %},
        userprofileemail: {% if user.is_authenticated %} "{{ user.email }}" {% else %} undefined {% endif %},
        proxy: "/proxy/?url=",
        nominatimUrl: "http://nominatim.openstreetmap.org",
        printService: "{{GEOSERVER_BASE_URL}}pdf/",
        /* The URL to a REST map configuration service.  This service
         * provides listing and, with an authenticated user, saving of
         * maps on the server for sharing and editing.
         */
        rest: "{% url "maps_browse" %}",
        ajaxLoginUrl: "{% url "account_ajax_login" %}",
        homeUrl: "{% url "home" %}",
        portalItems: [{
                xtype: "container",
                layout: "fit",
        {% if classification_banner_enabled %}
            height: 99,
        {% else %}
            height: 81,
        {% endif %}
        region: "north"
        }],
        localGeoServerBaseUrl: "{{ GEOSERVER_BASE_URL }}",
        localCSWBaseUrl: "{{ CATALOGUE_BASE_URL }}",
        csrfToken: "{{ csrf_token }}",
        tools: [{ptype: "gxp_getfeedfeatureinfo"}],
        };

    goog.object.extend( config, {{ config|safe }});

    console.log('############ config: ', config);
</script>
<% } %>

<script type="text/javascript">
  var onErrorCallback = function(msg, url, linenumber) { return true; };
  window.onerror = function(msg, url, linenumber) {
    onErrorCallback(msg,url,linenumber);
  };
</script>



</head>
<body class="maploom-body">
<% if (!(typeof django === 'undefined') && (django)) { %>
{% verbatim %}
<% } %>

        <div id="menu">
            <nav>
                <h2>
                  <i class="fa fa-reorder"></i>
                  {{ mapService.getTitle() }}
                  <br><br>
                  <button type="button" class="btn btn-default btn-md" data-target="#mapProperties" data-toggle="modal">Summary</button>
                  <button data-target="#mapSave" data-toggle="modal" type="button" class="btn btn-default btn-md">Save MapStory...</button>
              <button type="button" class="btn btn-default btn-md"><a href="{% url 'map-view' mapService.id %}" style="font-size: 14px;">Preview</a></button>

          </h2>
                <ul>
                  <li>
                        <a href="#">
                          <strong>Chapter 1</strong>
                          <br/>
                          <small><small>
                            History of the United States
                          </small></small>
                        </a>
                        <h2><i class="fa fa-bookmark"></i>Chapter One</h2>
                        <h2>History of the United States</h2>
                        <ul>
                          <li>
                                <a href="#"><i class="fa  fa-info-circle"></i>Chapter Info</a>
                                <h2><i class="fa  fa-info-circle"></i>Chapter Info</h2>
                                <ul>
                                  <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <form class="sidebar-content">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Chapter Title</label>
                            <input type="email" class="form-control" id="chapterTitle" placeholder="Lorem Title">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Summary</label>
                            <textarea type="email" class="form-control" id="chapterTitle" placeholder="Lorem Title" rows="5"></textarea>
                          </div>
                          <button type="submit" class="btn btn-default">Save chapter info</button>
                      </form>
                    </div>
                  </div>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-clone"></i>StoryLayers</a>
                                <h2><i class="fa fa-clone"></i>StoryLayers</h2>
                                <ul>
                                  <li>
                                        <a href="#">Add a New StoryLayer (modal)</a>
                                    </li>
                                    <li>
                                        <a href="#">Point StoryLayer 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Line StoryLayer 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Polygon StoryLayer 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-object-group"></i>StoryBoxes</a>
                                <h2><i class="fa fa-object-group"></i>StoryBoxes</h2>
                                <ul>
                                  <li>
                                    <h2>Add a StoryBox</h2>
                                    <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <form class="sidebar-content">
                          <h5 class="text-center">Adjust the map by panning and zooming</h5>
                          <button href="#" class="btn btn-default btn-lg btn-block">Set map</button>
                          <hr/>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Timeframe</label>
                            <input type="email" class="form-control" id="chapterTitle" placeholder="1790/01/01 - 1800/01/01">
                          </div>
                      </form>
                    </div>
                  </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-neuter"></i>StoryPins</a>
                                <h2><i class="fa fa-neuter"></i>StoryPins</h2>
                                <ul>
                                    <li>
                                        <a href="#">Smart Shot</a>
                                    </li>
                                    <li>
                                        <a href="#">Power Shooter</a>
                                    </li>
                                    <li>
                                        <a href="#">Easy Photo Maker</a>
                                    </li>
                                    <li>
                                        <a href="#">Super Pixel</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="chapterDelete"><i class="fa fa-trash-o"></i>Delete Chapter (dialog prompt)</a>
                             </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                          <strong>Chapter 2</strong>
                          <br/>
                          <small><small>
                            History of Canada
                          </small></small>
                        </a>
                        <h2><i class="fa fa-laptop"></i>Chapter Two</h2>
                        <h2>History of Canada</h2>
                        <ul>
                          <li>
                                <a href="#"><i class="fa fa-phone"></i>Chapter Info</a>
                                <h2><i class="fa fa-phone"></i>Chapter Info</h2>
                                <ul>
                                    <li>
                                        <a href="#">Title</a>
                                    </li>
                                    <li>
                                        <a href="#">Summary</a>
                                    </li>
                                    <li>
                                        <a href="#">Thumbnail</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-phone"></i>StoryLayers</a>
                                <h2><i class="fa fa-phone"></i>StoryLayers</h2>
                                <ul>
                                  <li>
                                        <a href="#">Add a New StoryLayer</a>
                                    </li>
                                    <li>
                                        <a href="#">Point StoryLayer 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Line StoryLayer 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Polygon StoryLayer 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-desktop"></i>StoryBoxes</a>
                                <h2><i class="fa fa-desktop"></i>StoryBoxes</h2>
                                <ul>
                                    <li>
                                        <a href="#">Flat Super Screen</a>
                                    </li>
                                    <li>
                                        <a href="#">Gigantic LED</a>
                                    </li>
                                    <li>
                                        <a href="#">Power Eater</a>
                                    </li>
                                    <li>
                                        <a href="#">3D Experience</a>
                                    </li>
                                    <li>
                                        <a href="#">Classic Comfort</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-camera-retro"></i>StoryPins</a>
                                <h2><i class="fa fa-camera-retro"></i>StoryPins</h2>
                                <ul>
                                    <li>
                                        <a href="#">Smart Shot</a>
                                    </li>
                                    <li>
                                        <a href="#">Power Shooter</a>
                                    </li>
                                    <li>
                                        <a href="#">Easy Photo Maker</a>
                                    </li>
                                    <li>
                                        <a href="#">Super Pixel</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="chapterDelete"><i class="fa fa-camera-retro"></i>Delete Chapter</a>
                             </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                          <strong>Chapter 3</strong>
                          <br/>
                          <small><small>
                            History of Mexico City
                          </small></small>
                        </a>
                        <h2><i class="fa fa-laptop"></i>Chapter Three</h2>
                        <h2>History of Mexico City</h2>
                        <ul>
                          <li>
                                <a href="#"><i class="fa fa-phone"></i>Chapter Info</a>
                                <h2><i class="fa fa-phone"></i>Chapter Info</h2>
                                <ul>
                                    <li>
                                        <a href="#">Title</a>
                                    </li>
                                    <li>
                                        <a href="#">Summary</a>
                                    </li>
                                    <li>
                                        <a href="#">Thumbnail</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-phone"></i>StoryLayers</a>
                                <h2><i class="fa fa-phone"></i>StoryLayers</h2>
                                <ul>
                                  <li>
                                        <a href="#">Add a New StoryLayer</a>
                                    </li>
                                    <li>
                                        <a href="#">Point StoryLayer 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Line StoryLayer 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Polygon StoryLayer 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-desktop"></i>StoryBoxes</a>
                                <h2><i class="fa fa-desktop"></i>StoryBoxes</h2>
                                <ul>
                                    <li>
                                        <a href="#">Flat Super Screen</a>
                                    </li>
                                    <li>
                                        <a href="#">Gigantic LED</a>
                                    </li>
                                    <li>
                                        <a href="#">Power Eater</a>
                                    </li>
                                    <li>
                                        <a href="#">3D Experience</a>
                                    </li>
                                    <li>
                                        <a href="#">Classic Comfort</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-camera-retro"></i>StoryPins</a>
                                <h2><i class="fa fa-camera-retro"></i>StoryPins</h2>
                                <ul>
                                    <li>
                                        <a href="#">Smart Shot</a>
                                    </li>
                                    <li>
                                        <a href="#">Power Shooter</a>
                                    </li>
                                    <li>
                                        <a href="#">Easy Photo Maker</a>
                                    </li>
                                    <li>
                                        <a href="#">Super Pixel</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="chapterDelete"><i class="fa fa-camera-retro"></i>Delete Chapter</a>
                             </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" id="addchapter"><i class="fa fa-plus-square-o"></i> Add a new chapter</a>
                    </li>
                    <li>
                        <a href="{% url 'getpage' 'skills' %}"><i class="fa fa-support"></i> Help</a>
                    </li>
                </ul>
            </nav>
        </div>
<div id="pushobj">
  <div id="map" class="map">
    <div class="map-shadow"></div>
    <div class="loom-notification-poster"></div>
    <div class="loom-legend"></div>
    <div class="loom-exclusive-mode"></div>
    <div id="zoom-to-world-border" class="map-btn-border" tooltip-append-to-body="true"
               tooltip-placement="left" tooltip="{{'zoom_world' | translate}}">
      <div id="zoom-to-world" ng-click="mapService.zoomToExtent()">
        <i class="glyphicon glyphicon-globe"></i>
      </div>
    </div>
    <div id="switch-coords-border" class="map-btn-border" tooltip-append-to-body="true"
         tooltip-placement="right" tooltip="{{'switch_coords' | translate}}">
      <div id="switch-coords" ng-click="mapService.switchMousePosCoordFormat()">
        <i class="glyphicon glyphicon-map-marker"></i>
      </div>
    </div>
    <div id="toggle-fullscreen-border" class="map-btn-border" tooltip-append-to-body="true"
         tooltip-placement="left" tooltip="{{'toggle_fullscreen' | translate}}">
      <div id="toggle-fullscreen" ng-click="mapService.toggleFullscreen()">
        <i class="glyphicon glyphicon-fullscreen"></i>
      </div>
    </div>
    <div class="loom-timeline"></div>
  </div>
</div>
</div>
<!--modal titles are in a lower case underscore separated format so that they can be translated-->
<div loom-modal id="add-layer-dialog" modal-title="add_layers">
  <div loom-addlayers id="add-layers">
  </div>
</div>
<div loom-modal id="add-server-dialog" modal-title="add_server">
  <div loom-add-server id="add-server">
  </div>
</div>
<div loom-modal id="mergeWindow" modal-title="{{'merge' | translate}}" close-button="false">
  <div loom-merge id="merge">
  </div>
</div>
<div loom-modal id="historyDiffWindow" modal-title="{{'select_date_range' | translate}}" close-button="false">
  <div loom-history-diff id="historyDiff">
  </div>
</div>
<div loom-modal id="generate-notification-dialog" modal-title="{{'select_start_time' | translate}}" close-button="false">
  <div loom-generate-notification id="generateNotification">
  </div>
</div>
<div loom-modal id="addSyncWindow" modal-title="{{'add_sync' | translate}}">
  <div loom-addsync id="add-sync">
  </div>
</div>
<div loom-modal id="configWindow" modal-title="config">
  <div loom-syncconfig id="sync-config">
  </div>
</div>
<div loom-modal id="remoteSelectDialog" close-button="false" modal-title="remote">
  <div loom-remoteselect id="remote-select">
  </div>
</div>
<div loom-modal id="drawSelectDialog" close-button="false" modal-title="draw">
  <div loom-drawselect id="draw-select">
  </div>
</div>
<div loom-modal id="feature-diff-dialog" ng-controller="LoomFeatureDiffController" modal-title="{{title}}">
  <div class="loom-feature-diff" id="feature-diff">
  </div>
</div>
<div loom-modal id="attribute-edit-dialog" modal-title="{{'edit_attributes' | translate}}">
  <div class="loom-attribute-edit" id="edit-feature">
  </div>
</div>
<div loom-modal id="table-view-window" modal-title="{{'table_view' | translate}}" close-button="true">
  <div class="loom-table-view" id="table-view">
  </div>
</div>
<div loom-modal id="statistics-view-window" modal-title="{{'statistics_view' | translate}}"  close-button="true">
  <div class="loom-statistics-view" id="statistics-view">
  </div>
</div>
<div loom-modal id="layerInfoDialog" modal-title="layerinfo">
  <div loom-layer-info id="layer-info">
  </div>
</div>
<div loom-modal id="storyBoxInfoDialog" modal-title="{{'box_info' | translate}}">
  <div loom-box-info id="box-info">
  </div>
</div>
<div loom-feature-info-box id="info-box" ng-show="featureManagerService.getSelectedItem() && featureManagerService.getEnabled()"
     class="feature-info-box-popup">
</div>
<div loom-modal id="saveMap" modal-title="{{ 'save_this_map' | translate}}">
    <div loom-save-map id="save-map">
    </div>
</div>
<div loom-modal id="add-storybox-dialog" modal-title="add_storybox">
  <div loom-storybox id="storybox">
  </div>
</div>
<!-- New Modals -->
<div loom-modal id="mapProperties" modal-title="MapStory Properties">
  <div loom-map-properties id="map-properties">
  </div>
</div>
<div loom-modal id="mapSave" modal-title="Save MapStory?">
  <div loom-map-save id="map-save">
  </div>
</div>
<div loom-modal id="chapterDelete" modal-title="Are you sure you want to delete this chapter?">
  <div loom-chapter-delete id="chapter-delete">
  </div>
</div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body next"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left prev">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
          </button>
          <button type="button" class="btn btn-primary next">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<% if (!(typeof django === 'undefined') && (django)) { %>
{% endverbatim %}
<% } %>
</body>
</html>
