<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
<head>
  <title ng-bind="pageTitle"></title>

  <!-- social media tags -->
  <meta property="og:title" content="ngBoilerplate"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://bit.ly/ngBoilerplate"/>
  <meta property="og:image"
        content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846"/>
  <meta property="og:description"
        content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>"/>
  <% }); %>

  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script>
  <% }); %>
</head>
<body>

<div id="map" class="map">
  <div class="map-shadow"></div>
  <div id="pulldown" ng-controller="LoomPulldownController">
    <div id="pulldown-shadow">
      <div class="panel flat" id="map-title">
        <div class="panel-heading">
                        <span style="font-weight: 100; font-size: 20px;">
                            <em id="map-name" translate="new_map">New Map</em>
                        </span>
          <span ng-class="{'hidden': !notificationsPanel}" class="loom-notification-badge pull-right"></span>
        </div>
      </div>
      <div id="pulldown-content" class="panel-group in">
        <div class="panel" ng-class="{'hidden': !notificationsPanel}">
          <div class="panel-heading" data-toggle="collapse" data-parent="#pulldown-content"
               data-target="#notification-panel">
            <span>Notifications</span>
            <span class="loom-notification-badge pull-right"></span>
          </div>
          <div id="notification-panel" notification-empty-text="No notifications..."
               class="pulldown-panel loom-notifications">
          </div>
        </div>
        <div class="panel" ng-class="{'hidden': !layersPanel}">
          <div class="panel-heading" data-toggle="collapse" data-parent="#pulldown-content"
               data-target="#layer-manager-panel">
            <span>Map Layers</span>
          </div>
          <div id="layer-manager-panel" class="panel-collapse collapse pulldown-panel">
            <div class="loom-layers"></div>
            <div align="center" class="panel-heading layer-heading" data-target="#add-layer-dialog" data-toggle="modal">
              <i class="glyphicon glyphicon-plus-sign"></i>
              Add Layer
            </div>
          </div>
        </div>
        <div class="panel" ng-class="{'hidden': !diffPanel}" ng-controller="LoomDiffController">
          <div class="panel-heading" data-toggle="collapse" data-parent="#pulldown-content"
               data-target="#diff-panel">
            <span>{{title}}</span>
          </div>
          <div id="diff-panel" class="loom-diff-panel panel-collapse collapse pulldown-panel">Diffs go here.</div>
        </div>
        <div class="panel" ng-class="{'hidden': !syncPanel}">
          <div class="panel-heading" data-toggle="collapse" data-parent="#pulldown-content"
               data-target="#syncronization-panel">
            <span>Syncronization</span>

            <div stop-event='click' ng-controller="modalToggle" ng-click="toggleModal('#configWindow')"
                 class="glyphicon glyphicon-cog pull-right"></div>
          </div>
          <div id="syncronization-panel" class="panel-collapse collapse">
            <div class="loom-synclinks"></div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" data-toggle="collapse" data-target="#pulldown-content"
            class="toggle-menu toggle btn btn-default flat-top">Toggle Menu
    </button>
  </div>
  <div class="loom-notification-poster"></div>
  <div class="loom-zoom-to-layer-data"></div>
  <div class="loom-drag-zoom"></div>
</div>
<div loom-modal id="add-layer-dialog" modal-title="Add Layers">
  <div loom-addlayers id="add-layers">
  </div>
</div>
<div loom-modal id="add-server-dialog" modal-title="Add Server">
  <div loom-add-server id="add-server">
  </div>
</div>
<div loom-modal id="mergeWindow" modal-title="Merge">
  <div loom-merge id="merge">
  </div>
</div>
<div loom-modal id="addSyncWindow" modal-title="Add Sync">
  <div loom-addsync id="add-sync">
  </div>
</div>
<div loom-modal id="configWindow" modal-title="Config">
  <div loom-syncconfig id="sync-config">
  </div>
</div>
<div loom-feature-info-box id="info-box" ng-show="featureInfoBoxService.getSelectedItem()"
     class="feature-info-box-popup">
</div>
</body>
</html>
