.difflist {
  .glyphicon {
    font-size: large;
    position: relative;
    left: -5px;
    top: 3px;
  }

  .add .glyphicon {
    color: @addColor;
  }

  .modify .glyphicon {
    color: @modifyColor;
  }

  .delete .glyphicon {
    color: @deleteColor;
  }

  .merged .glyphicon {
    color: @mergedColor;
  }

  .conflict .glyphicon {
    color: @conflictColor;
  }

  .conflict {
    font-weight: 900;
    .conflict-badge-mixin(@background-color) {
      top: 3px !important;
      font-size: 9px;
      background-color: @background-color;
      letter-spacing: 1px;
    }
    .badge.conflict-badge {
      .conflict-badge-mixin(@conflictBadgeColor);
    }
    .badge.resolved-badge {
      .conflict-badge-mixin(@resolvedBadgeColor);
    }
  }

  .conflict.selected {
    box-shadow: inset 0 0 15px 0 white;
  }
}

.merge-button-wrap {
  width: 46%;
  margin: 5px;
  display: inline-block;
}

.merge-button {
  width: 100%;
  margin: 0;
}

.loom-feature-diff .modal-body {
  overflow: hidden;
  overflow-y: auto;
}

.loom-feature-panel {
  width: 230px;
  background-color: @featurePanelColor;
  border: 1px solid darken(@featurePanelColor, 5%);
  display: inline-block;

  .preview-map {
    width: 220px;
    height: 220px;
    background-color: darken(@featurePanelColor, 5%);
    border: 1px solid darken(@featurePanelColor, 10%);
    margin-top: 5px;
  }
}

.panel-separator {
  width: 32px;
  background-color: @featurePanelColor;
  border: 1px solid darken(@featurePanelColor, 5%);
  display: inline-block;
}