.modal-header {
    color: #fff;
    background-color:#155481;
    border-bottom: 1px solid #80a0b0;
}
.modal-footer {
    background-color:#97B3CD;
    border-top: 1px solid #80a0b0;
    margin-top: 0;
}
.modal-body {
    background-color:#97B3CD;
}