<div class="notification-content panel-collapse collapse">
    <div id="notification-collapse-group" class="panel-group">
        <div ng-if="notificationService.getNotifications().length == 0" class="notification-panel-heading panel-heading flat read">{{emptyText}}</div>
        <div class="panel" ng-repeat="notification in notifications = notificationService.getNotifications() | orderBy:'id':true">
            <div id="update-notification-header-{{notification.id}}" ng-click="markAsRead({{notification.id}})" ng-class="{read: notification.read}" class="notification-panel-heading panel-heading flat">
                <div class="row col-xs-12">
                    <span>
                        <p id="notification-text-{{notification.id}}" class="notification-text">{{notification.text}}</p>
                        <div ng-click="removeNotification({{notification.id}})" id="close-button-{{notification.id}}" class="glyphicon glyphicon-remove-circle close-notification"></div>
                    </span>
                </div>
            </div>
            <div id="notification-description-{{notification.id}}"  ng-if="notification.type === 'loom-update-notification'" class="loom-update-notification" notification="notification">{{notification.text}}</div>
        </div>
	</div>
</div>