#SyncList {
  margin-bottom: 0px;
  padding-left: 15px;
}

#SyncList .list-group-item .row{
  padding: 0px !important;
}

#buttonRow {
  padding: 0px !important;
}

#SyncList .list-group-item {
  background-color: #678BAD;
  color: #fff;
}

.sync-list-button {
  .loom-button-variant(#FFF, #FFF, #4977A3, #4977A3);
  border: 1px solid #80a0b0 !important;
  border-radius: 0px;
}