#SyncList {
  margin-bottom: 0;
  padding-left: 15px;
  .list-group-item {
    background-color: @syncListColor;
    color: @syncListFontColor;
    .row{
      padding: 0 !important;
    }
  }
}

#buttonRow {
  padding: 0 !important;
}

.sync-list-button {
  .loom-button-variant(@syncListButtonFontColor, @syncListButtonFontColor, @syncListButtonColor, @syncListButtonColor);
  border: 1px solid lighten(@syncListColor, 10%) !important;
  border-radius: 0;
}

.auto-sync-button {
  border-radius: 3px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.auto-sync-button.sync-on {
  background-color: @syncOnColor;
  color: @syncOnImageColor;
}

.remote {
  color: @remoteDownColor;
}

.remote-up {
  color: @remoteUpColor;
}