/* Demo by http://creative-punch.net */

@import "font-awesome-4.6.3/css/font-awesome.min.css";

.circular-menu-container {
    position:absolute;
    z-index:9999;
}

.circular-menu {
    width: 150px;
    height: 150px;
    position: absolute;
    cursor: pointer;
}

.open.circular-menu {
    display:block;
}

.close.circular-menu-container {
    display:none;
}

.close.circular-menu {
    display:none;
}

.circular-menu-circle {
    width: 150px;
    height: 150px;
    opacity: 0;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.open.circular-menu-circle {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    transform: scale(1.0);
    box-shadow: 0px 0px 20px 1px #777;
    border-radius:130px;
    background-color:#777;
    filter: alpha(opacity=60);
    /* IE */
    -moz-opacity: 0.6;
    /* Mozilla */
    opacity: 0.6;
}

.circular-menu-circle a {
    color: white;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
}

.circular-menu-circle a:hover {
    color: #eef;
    text-decoration: none;
}

.open.menu-button {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.close.menu-button {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.open.circular-menu-container{
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    display:block;
}

.close.circular-menu-container{
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    display:none;
}


.circular-menu-button {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    text-decoration: none;
    text-align: center;
    color: #444 !important;
    border-radius: 50%;
    display: block;
    height: 40px;
    width: 40px;
    background: #FFF;
    padding: 7px !important;
    text-decoration: none;
}

.circular-menu a {
    text-decoration: none;
}

/*.circular-menu-circle .fa:hover{
    color:forestgreen;
}*/

.circular-menu-button:hover {
    color: #0078A8 !important;
}
.circular-menu-circle a {
    font-size:2em;
}

.circular-menu-circle a:hover {
    font-size:2.7em;
}

.circular-menu-label {
    display:none;
}
@import "font-awesome-4.6.3/css/font-awesome.min.css";

.pop-over {
    position: relative;
    background-color: rgba(5, 107, 166, 0.6);
    min-height: 190px;
    min-width: 100px;
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    box-shadow: 0 0 7px #000000;
    z-index: 9999;
    overflow:hidden;
    /*height:auto !important;*/
    width:100%;
    text-align: left;
}

.pop-over-selected {
    background-color: rgba(0, 160, 0, 0.6);
}

.pop-over h3 {
    font-size: 14px;
    font-family: Tahoma, Sans;
    color: white;
    margin: 7px 3px 3px 15px;
    text-shadow: 0 0 10px rgba(255, 255, 255 .3);
}

.pop-over h3:hover {
    cursor: default;
}

.pop-inner{
    display: flex;
    flex-direction: column;
    width:100%;
}

.pop-content {
    width:inherit;
    position: static;
    margin-top:8px;
    margin-bottom:5px;
    flex:1;
}

.pop-footer {
    height:45px;
}

.pop-close {
    position: absolute;
    top: 3px;
    right: 0;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 18px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none !important;
    font-weight: bold;
    background: transparent;
    cursor: default;
    text-decoration: none;
}

.pop-pin {
    position: absolute;
    top: 7px;
    right: 25px;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 16px;
    height: 16px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    background-image: url("../images/pin-2.png");
    cursor: default;
}

.pop-pin:hover {
    background-image: url("../images/unpin-2.png");
}

.pop-pin-drag {
    background-image: url("../images/unpin-2.png");
}

.pop-pin-drag:hover {
    background-image: url("../images/pin-2.png");
}

.pop-connect {
    position: absolute;
    top: 7px;
    right: 48px;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 16px;
    height: 16px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    background-image: url("../images/connected.png");
    cursor: default;
}

.pop-connect:hover {
    background-image: url("../images/disconnected.png");
}

.pop-disconnect:hover {
    background-image: url("../images/connected.png");
}

.pop-disconnect {
    position: absolute;
    top: 7px;
    right: 48px;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 16px;
    height: 16px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    background-image: url("../images/disconnected.png");
}

.pop-exchange {
    position: absolute;
    top: 5px;
    right: 72px;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 16px;
    height: 16px;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}

.pop-exchange:hover {
    text-decoration: none;
}

.resizable {
    resize: both;   /* Options: horizontal, vertical, both */
    overflow: auto; /* fix for Safari */
}


/** HANDLE extra div **/
.pop-extra {
    position: static;
    margin-top:8px;
    margin-bottom:5px;
    border: dotted 1px #999;
    flex: 2;
}

.pop-extra-el {
    margin-left:5px;
    flex: 3;
}

.pop-extra-el>i {
    cursor: pointer;
    width:100%;
    padding-top:2px;
}

.pop-extra-collapse + div {
    display:none !important;
}

.pop-extra-show + div {
    display:block !important;
    margin-top:5px;
}

.no-keep-ratio {
    height: calc(100% - 45px);
}

.keep-ratio-w {
    height:auto !important;
    width:100%;
}

.keep-ratio-h {
    width:auto !important;
}

@import "font-awesome-4.6.3/css/font-awesome.min.css";

/** Discovery Select box **/
.discovery-form .select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}

.discovery-form .select-style:before {
    font-family: FontAwesome;
    content: "\f0d7";
    font-size: 25px;
    display: inline-block;
    position: absolute;
    pointer-events: none;
    right: 5px;
    color: #777;
    top:4px;
}

.discovery-form .select-style select {
    padding: 5px 8px;
    width: 100%;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
}

.discovery-form .select-style select:focus {
    outline: none;
}

/** Form **/
.discovery-form:-moz-placeholder {
    color: #777;
}

.discovery-form::-webkit-input-placeholder {
    color: #777;
}

.discovery-form*:focus {outline: none;}

body {font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;}
.discovery-form h2, .discovery-form label {font-family:Georgia, Times, "Times New Roman", serif;}
.form_hint, .required_notification {font-size: 11px;}

.discovery-form ul {
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.discovery-form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}

.discovery-form li:first-child, .discovery-form li:last-child {
    border-bottom:1px solid #777;
}

.discovery-form h2 {
    margin:0;
    display: inline;
}

.discovery-form .required_notification {
    color: #d45252;
    margin: 25px 0 0 0;
    display: inline;
    float: right;
}

.discovery-form label {
    width:130px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.discovery-form .input-text {
    padding:5px 8px;
    width:195px;
}

.discovery-form button {margin-left:156px;}

.discovery-form .input-text, .discovery-form select {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.discovery-form .input-text:focus, .discovery-form select:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}
/* Button Style */
.discovery-form button.submit {
    background-color: #056BA6;
    background: -webkit-gradient(linear, left top, left bottom, from(#056BA6), to(#055690));
    background: -webkit-linear-gradient(top, #056BA6, #055690);
    background: -moz-linear-gradient(top, #056BA6, #055690);
    background: -ms-linear-gradient(top, #056BA6, #055690);
    background: -o-linear-gradient(top, #056BA6, #055690);
    background: linear-gradient(top, #056BA6, #055690);
    border: 1px solid #056BA6;
    border-bottom: 1px solid #056BA6;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #056BA6;
    -webkit-box-shadow: 0 1px 0 0 #056BA6 inset ;
    -moz-box-shadow: 0 1px 0 0 #056BA6 inset;
    -ms-box-shadow: 0 1px 0 0 #056BA6 inset;
    -o-box-shadow: 0 1px 0 0 #056BA6 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #056BA6;
    display:table;
    margin:0px auto 0px auto;
}
.discovery-form button.submit:hover {
    opacity:.85;
    cursor: pointer;
}
.discovery-form button.submit:active {
    border: 1px solid #056BA6;
    box-shadow: 0 0 10px 5px #056BA6 inset;
    -webkit-box-shadow:0 0 10px 5px #056BA6 inset ;
    -moz-box-shadow: 0 0 10px 5px #056BA6 inset;
    -ms-box-shadow: 0 0 10px 5px #056BA6 inset;
    -o-box-shadow: 0 0 10px 5px #056BA6 inset;

}

.discovery-form .input-text:focus { /* add this to the already existing style */
    padding-right:10px;
}

.discovery-form .input-text, .discovery-form select { /* add this to the already existing style */
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

.discovery-form .input-text {
    padding-right: 5px;
}

.discovery-form select {
    padding-right: 21px;
}

.discovery-form select:focus  {
    padding-right: 21px;
}

.discovery-form .input-text:required {
    background: #fff url(../images/red_asterisk.png) no-repeat 98% center;
}

::-webkit-validation-bubble-message {
    padding: 1em;
}

.discovery-form input:focus:invalid{ /* when a field is considered invalid by the browser */
    background: #fff url(../images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.discovery-form .form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    margin-top:4px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}

.discovery-form .form_hint::before {
    content: "\25C0"; /* left point triangle in escaped unicode */
    color:#d45252;
    position: absolute;
    top:1px;
    left:-6px;
}

.discovery-form .input-checkbox {
    margin-top:10px;

}
.discovery-form .input-text:focus + .form_hint {display: inline;}
.discovery-form .input-text:required:valid + .form_hint {background: #28921f;} /* change form hint color when valid */
.discovery-form .input-text:required:valid + .form_hint::before {color:#28921f;} /* change form hint arrow color when valid */

.loading-container {
    position:absolute;
    height:52px;
    width:100%;
    background-color:#FFF;
    opacity: 0.7;
    top:0px;
    z-index: 999999;
    cursor:default;
}

.loading-dot-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top:2px;
}
.loading-dot {
    width: 15px;
    height: 15px;
    border: 2px solid rgba(5, 107, 166, 0.6);
    border-radius: 50%;
    float: left;
    margin: 0 5px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: fx 1000ms ease infinite 0ms;
    animation: fx 1000ms ease infinite 0ms;
}
.loading-dot:nth-child(2) {
    -webkit-animation: fx 1000ms ease infinite 300ms;
    animation: fx 1000ms ease infinite 300ms;
}
.loading-dot:nth-child(3) {
    -webkit-animation: fx 1000ms ease infinite 600ms;
    animation: fx 1000ms ease infinite 600ms;
}
@-webkit-keyframes fx {
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fx {
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loading-label {
    color: black;
    font-size: 30px;
    margin-left:-12px;
    color:#292929;
}

.loading-dot-section-1{
    float:left;
}

.loading-dot-section-2{
    float:left;
    margin-left: 10px;
    margin-top: 15px;
}
.osh-log{
    position:absolute;
    width:280px;
    height:365px;
    background-color:#000;
    color: #ffffff;
}
@media (min-width: $screen-xs) and (max-width: $screen-sm) {
  .rangeSlider{
      width:200px;
      float:right;
      margin-top:-30px;
    }
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {
  .rangeSlider{
      width:400px;
      float:right;
      margin-top:-30px;
    }
}

.adapt-size {
  width:85%;
  margin-top:30px;
  float:left;
}
@media (min-width: 768px) {
  .adapt-size {
    width:94%;
    margin-top:30px;
    float:left;
  }
}

.glyphicon-custom-color {
  color : red;
}

.ui-rangeSlider .ui-rangeSlider-innerBar {
  height: 20px !important;
  background: #DDD !important;
  margin: 0px 6px 3px 6px !important;
}

.sliderCustomLabel {
  border-left: 1px solid #f8f8f8;
  height: 20px;
}

.ui-ruler-tick-label {
  margin: 0 0 0 -2px;
  background-color: #DDD;
}
/* Demo by http://creative-punch.net */

@import "font-awesome-4.6.3/css/font-awesome.min.css";

.stack-menu-container {
    position: absolute;
    width: 150px;
    overflow-y: hidden;
    overflow-x:hidden;
    box-shadow: 7px 7px 10px 2px #777;
    text-align: center;
    z-index:9999;
    border-radius: 3px;
}

.stack-menu {
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
}

.open.stack-menu {
    box-shadow: 0px 0px 20px 1px #777;
    background-color: #777;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    height: 100%;
    cursor: pointer;
}

.close.stack-menu-container {
    display:none;
}

.close.stack-menu {
    display:none;
}

.stack-menu-circle {
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.open.stack-menu-circle {
    padding-left: 10px;
    padding-top: 10px;
    background-color: #777;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

.stack-menu-circle a {
    color: white;
    line-height: 15px;
    width: 100%;
    margin-bottom: 15px;
    text-align:left;
}

.stack-menu-circle a:hover {
    color: #eef;
    text-decoration: none;
}

.open.stack-menu-button {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.close.stack-menu-button {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.open.stack-menu-container{
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    display:block;
}

.close.stack-menu-container{
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    display:none;
}

.stack-menu-button {
    text-decoration: none;
    text-align: center;
    color: #f5f5f5 !important;
    text-decoration: none;
    scale: 0.5;
    text-align: center !important;
    padding-top: 7px !important;
    padding-right: 5px !important;
    border-top: solid 1px;
    margin-left: -10px !important;
    margin-top:2px;
}

.stack-menu a {
    text-decoration: none;
}

.stack-menu-button:hover {
    color: #0078A8 !important;
    margin-left:-10px !important;
    -webkit-transform: none;
    -moz-transform: none;
    transform:none;
}

.stack-menu-circle a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    margin-left:15px;
    cursor:default;
}

.stack-menu-label {
    margin-left:10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.remote-left {
    margin-top: 70px;
    position: absolute;
}

.remote-right {
    position: absolute;
    margin-left: 140px;
    margin-top: 70px;
}

.remote-up {
    margin-left: 70px;
    position: absolute;
}

.remote-zoomin {
    margin-left: 70px;
    position: absolute;
    margin-top: 68px;
}

.remote-zoomin .remote-button{
    border-radius: 200px 200px 0px 0px !important;
}

.remote-zoomout .remote-button{
    border-radius: 0px 0px 200px 200px !important;
}

.remote-zoomout {
    margin-left: 70px;
    position: absolute;
    margin-top: 104px;
}

.remote-down {
    margin-left: 70px;
    position: absolute;
    margin-top: 141px;
}

.remote-button:active {
    box-shadow: 0px 0px 20px 1px #777;
    border-radius: 200px;
    outline: none;
}

.remote-button:focus {
    outline: none;
}

/** Display remote & PTZ side by side using CSS 3 and flex display **/
.flex-container {
    display:flex;
    width:100%;
}

.fixed{
    width:260px;
}

.flex-item{
    /*flex-grow: 1;*/
    width:150px;
}

/** End Flex **/

.remote {
    border-radius: 250px;
    background-color: rgba(119,119,119,0.3);
    width: 215px;
    height: 215px;
    box-shadow: 0px 0px 20px 1px #777;
    /* opacity: 0.99; */
    margin-right: 15px;
    padding: 5px;
}

.preset>label {
    margin-right:10px;
}

.preset {
    margin-bottom:55px;
}

.ptz {
    margin-top:100px;
}

.pan {
    margin-bottom:15px;
}
.tilt {
    margin-bottom:15px;
}
.zoom {
    margin-bottom:15px;
}

.pan>label {
    display:block;
    width:60px;
    float:left;
}
.tilt>label {
    display:block;
    width:60px;
    float:left;
}
.zoom>label {
    display:block;
    width:60px;
    float:left;
}


.icon_tree {
    max-width: 16px;
    max-height: 16px;
}