<div class="loom-dialog {{type}}" ng-style="{'margin-left':{{modalOffset}},'margin-top':{{modalOffset}}}">
  <div class="modal-header">
    <i ng-if="closeButton" ng-click="$close()" class="close glyphicon glyphicon-remove"></i>
    <h4 class="modal-title">{{dialogTitle}}</h4>
  </div>
  <div class="modal-body">
    {{dialogContent}}
  </div>
  <div ng-if="buttons.length > 0" class="modal-footer">
    <div align="center">
      <button class="btn btn-default" type="button" ng-repeat="button in buttons" ng-click="buttonClick(button)">
        {{button}}
      </button>
    </div>
  </div>
</div>