<div class="loom-password-dialog loom-dialog {{type}}" ng-style="{'margin-left':{{modalOffset}},'margin-top':{{modalOffset}}}">
  <div class="modal-header">
    <h4 class="modal-title">Credentials</h4>
  </div>
  <div class="modal-body">
    Please enter your credentials for:
    <br><b>{{serverURL}}</b><br>
    Or you may click Skip to log in anonymously. Only public layer will be visible to anonymous users and changes to
    those layers will not be associated with a user. It is recommended that you log in if you have credentials for this
    server.
    <div>
      <label class="control-label"><span translate="repo_username"></span>: </label>
      <input type="text" ng-model="username" class="form-control"
               placeholder="{{'repo_username' | translate}}">
      <label class="control-label"><span translate="repo_password"></span>: </label>
      <input type="password" ng-model="password" class="form-control"
             placeholder="{{'repo_password' | translate}}">
    </div>
  </div>
  <div class="modal-footer">
    <div align="center">
      <button class="btn btn-default" type="button" ng-click="ok(username, password)" translate="btn_ok">
      </button>
      <button class="btn btn-default" type="button" ng-click="cancel()">Skip
      </button>
    </div>
  </div>
</div>