<div class="loom-password-dialog loom-dialog {{type}}" ng-style="{'margin-left':{{modalOffset}},'margin-top':{{modalOffset}}}">
  <div class="modal-header">
    <i ng-if="closeButton" ng-click="cancel()" class="close glyphicon glyphicon-remove"></i>
    <h4 class="modal-title" translate="credentials"></h4>
  </div>
  <div class="modal-body">
    <span translate="enter_credentials"></span>
    <br><b>{{serverURL}}</b><br>
    <span translate="skip_credentials"></span>
    <div>
      <label class="control-label"><span translate="repo_username"></span>: </label>
      <input type="text" ng-model="username" class="form-control"
               placeholder="{{'repo_username' | translate}}">
      <label class="control-label"><span translate="repo_password"></span>: </label>
      <input type="password" ng-model="password" class="form-control"
             placeholder="{{'repo_password' | translate}}">
    </div>
    <div ng-if="username === ''" class="row anonymous-section">
      <div class="loom-check-button btn btn-xs anonymous-checkbox" ng-model="anonymousOnly.value" btn-checkbox>
        <i class="glyphicon" ng-class="{'glyphicon-unchecked': !anonymousOnly.value, 'glyphicon-check': anonymousOnly.value}"></i>
      </div>
      <div class="anonymous-title" translate="always_anonymous"></div>
    </div>
  </div>
  <div class="modal-footer">
    <div align="center">
      <button ng-if="username !== ''" class="btn btn-default" type="button" ng-click="ok(username, password)" translate="btn_ok">
      </button>
      <button class="btn btn-default" type="button" ng-click="skip(anonymousOnly.value)" translate="skip">
      </button>
    </div>
  </div>
</div>