#search-panel {

  .loading-container {
    background-color: @buttonColor;

    .loading-spinner {
      border-color: @saveIconColor !important;
    }
  }

  .panel-heading {
    font-size: 20px;
    font-weight: 100;
    padding: 6px;
    border-top: 1px solid @mainHeaderColor;
    background-color: @mainHeaderColor;
  }

  i {
    color: @saveIconColor;
    cursor: pointer;
  }

  #search-results-panel {
    overflow-y: auto;
    max-height: 100px;

    .search-result-name {
      width: 98%;
      display: inline-block;
    }
  }
}